﻿@model Proyecto_1.Models.Productos
  
@{ 
    ViewBag.Title = "Editar producto de bazar";
}
<link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

@using (Html.BeginForm("EditPB", "Productos"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="margin-left:15px">Editar producto de bazar</h4>

        @if (ViewBag.mensajeRepetido != null)
        {
            <div class="alert-warning" role="alert">
                <strong style="color:orangered">@ViewBag.mensajeRepetido</strong>
            </div>
        }

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.idProducto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idProducto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idProducto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Precio" class="control-label col-md-2">Nombre:</label>
           @* @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @style = "max-width:300px", required = "required" } )
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Unidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Unidad, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label   for="Precio" class="control-label col-md-2">Precio de venta:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Precio, new { @class = "form-control", @style = "max-width:300px", required = "required" })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-top:8px">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("ProductosBazar", "Productos")'" />
            </div>
        </div>
    </div>
}
    </div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
