﻿@model Proyecto_1.Models.Productos
    @{ 
        ViewBag.Title = "Editar Insumo";
    }

<link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />


<div class="container-fluid" style="padding: 0% 5% 5% 5%">
@using (Html.BeginForm("EditarPI","Productos"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Editar insumo: <b style="color:aquamarine; text-transform:uppercase">@ViewBag.mensaje</b></h4>

        @if (ViewBag.mensajeRepetido != null)
        {
            <div class="alert alert-warning" role="alert">
                <strong style="color:orangered">@ViewBag.mensajeRepetido</strong>
            </div>
        }
       
 
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.idProducto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idProducto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idProducto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Unidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Unidad, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2" >Unidad</label>
            <select required name="Unidad" oninvalid="this.setCustomValidity('Debe seleccionar un tipo')" oninput="setCustomValidity('')"  style="margin-bottom:6px; max-width:175px; max-height:25px">
                <option selected disabled>Seleccionar la unidad</option>
                <option value="Gramo">Gramo</option>
                <option value="cm3">cm3</option>
                <option value="unidad">Unidad</option>
            </select>

        </div>

        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-left:177px">
            <div class="col-md-10" style="margin-top:8px">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Insumos", "Productos")'" />
            </div>
        </div>
    </div>
}

    </div>


