﻿@model IEnumerable<Proyecto_1.Models.Productos>

@{
    ViewBag.Title = "Insumos";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">

    <style>
        input[type=search] {
            width: 250px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>
</head>


<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }
    
    @if (ViewBag.mensajeRepetido != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeRepetido</strong>
        </div>
    }
    
    @if (ViewBag.Vacia != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.Vacia</strong>
        </div>
    }

    <fieldset>
        <legend style="margin-bottom:10px">Insumos</legend>
    </fieldset>
    

    <div class="inline">
        <form method="post" action="@Url.Action("BuscarProdInsumo","Productos")" style="margin-left:-2px">
            <input type="search" id="busqueda" name="cadena" placeholder="Buscar insumo.." />
            <input type="submit" value="Buscar" class="btn btn-primary"/>
            <div class="form-group"  style="float:right; margin-top:5px">
                <input type="button" value="Agregar stock" class="btn btn-primary" onclick="location.href='@Url.Action("CrearCompraInsumo", "Gastos")'" />
                <input type="button" value="Nuevo insumo" class="btn btn-primary" onclick="location.href='@Url.Action("Productos_formView", "Productos")'" />
            </div>
        </form>
       
    </div>

   
    <h4 style="margin-top:12px; margin-bottom:15px">Listado de Insumos</h4>

    <table class="table table-striped table-hover table-bordered">
        <tr style="background-color:cadetblue">
            <th>Nombre</th>
            <th>Unidad</th>
            <th>Stock actual</th>
            <th>Agregar stock</th>
            <th>Acciones</th>
            
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Unidad</td>
                <td>@item.Stock</td>
                <td>
                    <div class="inline">
                    <input type="text" id="StockReal @item.idProducto" style="width: 100px; height:30px; padding: 2px" name="StockReal" />
                    <input type="button" value="Corregir" id="Agregar" class="btn btn-primary" style="padding:5px 7px; font-size:small" onclick="prueba2(@item.idProducto, '@Url.Action("CorregirStock", "Productos", new { idproducto = item.idProducto, StockReal = "param-stock", stock = item.Stock, nombre = item.Nombre, unidad = item.Unidad })' )" />
                    </div>
               </td>
                <td>
                    <div class="inline">
                        <input type="button" value="Editar" class="btn btn-warning" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("EditProductoInsumo", "Productos", new { id = item.idProducto })'" />
                        <input type="button" value="Borrar" class="btn btn-danger" id="btnBorrar" style="padding:5px 8px; font-size:small" onclick="return confirmar('@Url.Action("BorrarProd", "Productos", new { id = item.idProducto })')" />
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<script>
    function confirmar(url) {
        swal({
            title: 'Borrar???',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Aceptar!',
            closeOnConfirm: false,
            cancelButtonText: 'Cancelar',
        },
 function (isConfirm) {
    if (isConfirm) {
        location.href = url
    }
    else { return false; }

});
    }
</script>

<script type="text/javascript">
    function prueba2(id, dire) {

        var stock = "StockReal" + ' '+ id;
        var StockReal = document.getElementById(stock).value;

        if (!Number(StockReal))
        {
            document.getElementById(stock).focus();
            document.getElementById(stock).style.borderColor="#f31512";
            return false;
        }

        location.href = dire.replace("param-stock", StockReal);
    }
</script>

