﻿@model Proyecto_1.Models.Productos

@{ 
    ViewBag.Title = "Nuevo Insumo";
}

<link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    <form class="form-horizontal" method="post" action="@Url.Action("CrearProductoInsumo","Productos")">
        <fieldset style="max-width:400px; padding:0% 5% 5% 5% ">
            <legend>Nuevo Insumo</legend>

            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre</label>
                <div>
                    <input autofocus type="text" name="Nombre" class="form-control" id="Nombre">
                </div>
            </div>

            <div class="form-group">
                <select required name="Unidad" oninvalid="this.setCustomValidity('Debe seleccionar la unidad')" oninput="setCustomValidity('')" class="form-control">
                    <option selected disabled>Seleccionar unidad</option>
                    <option value="Gramo">Gramo</option>
                    <option value="cm3">cm3</option>
                    <option value="unidad">Unidad</option>
                </select>
            </div>

            <div class="form-group">
                <div style="margin-top:8px">
                    <input type="submit" value="Agregar" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Insumos", "Productos")'" />
                </div>
            </div>

        </fieldset>

    </form>

</div>

