﻿@model Proyecto_1.Models.Productos
    @{
        ViewBag.Title = "Nuevo producto bazar";
     }

<link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    <form class="form-horizontal" method="post" action="@Url.Action("CrearProductoBazar","Productos")">
        <fieldset style="max-width:400px; padding:0% 5% 5% 5% ">
            <legend>Nuevo producto bazar</legend>
            <label style="font-size:small">(*) Campos obligatorios</label>
            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre (*)</label>
                <div>
                    <input autofocus type="text" name="Nombre" class="form-control" id="Nombre" required>
                </div>
            </div>

            <div class="form-group">
                <label for="Precio" class="control-label">Precio de venta (*)</label>
                <div>
                    <input type="text" name="Precio" class="form-control" id="Precio" pattern="[0-9]{1,6}" required title="Ingrese solo numeros sin $">
                </div>
            </div>

            <div class="form-group">
                <div style="margin-top:8px">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("ProductosBazar", "Productos")'" />
                </div>
            </div>

        </fieldset>

    </form>
@*@using (Html.BeginForm("CrearProductoBazar", "Productos")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <div class="alert alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>

        <h4>Nuevo producto de Bazar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.idProducto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idProducto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idProducto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Unidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Unidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Precio de Venta</label>
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-top:8px">
                <input type="submit" value="Agregar" class="btn btn-default" />
                <input type="button" value="Cancelar" class="btn btnBorrar" onclick="location.href='@Url.Action("ProductosBazar", "Productos")'" />
            </div>
        </div>


    </div>
}*@
    </div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
