﻿@model IEnumerable<Proyecto_1.Models.Productos>

@{
    ViewBag.Title = "Productos de bazar";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <style>
        input[type=search] {
            width: 250px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("busqueda");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</head>


<div class="container-fluid" style="padding: 0% 5% 5% 5%">
    <div class="alert-success" role="alert">
        <strong style="color:green">@ViewBag.mensajeExito</strong>
    </div>
    <div class="alert-warning" role="alert">
        <strong style="color:orangered">@ViewBag.mensajeError</strong>
    </div>
    <div class="alert-warning" role="alert">
        <strong style="color:orangered">@ViewBag.Vacia</strong>
    </div>
    <fieldset>
        <legend style="margin-bottom:10px">Bazar</legend>
    </fieldset>

    <div class="inline">
        <form method="post" action="@Url.Action("BuscarPV","Productos")" style="margin-left:-2px">
            <input type="search" id="busqueda" name="cadena" placeholder="Buscar Producto.." onkeyup="myFunction()" />
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <input type="button" value="Nuevo Producto" class="btn btn-primary" style="float:right; margin-top:18px" onclick="location.href='@Url.Action("ProductosBazar_formView", "Productos")'" />
        </form>
    </div>

    @if (Model.Any())
    {
        <h4 style="margin-top:10px; margin-bottom:10px">Listado de productos de bazar</h4>
        <table id="myTable" class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th>Nombre</th>
                <th>Precio de Venta</th>
                <th>Stock</th>
                <th>Acciones</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>$@item.Precio</td>
                    <td>@item.Stock</td>


                    <td>
                        <div class="inline">
                            <input type="button" value="Editar" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("EditProductoBazar", "Productos", new { id = item.idProducto })'" />
                            <input type="button" value="Borrar" class="btn btn-danger" id="btnBorrar" style="padding:5px 8px; font-size:small" onclick="return confirmar('@Url.Action("BorrarProducto", "Productos", new { id = item.idProducto })')" />
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:45px">No hay productos creados actualmente</label>
    }

</div>

<script>
    function confirmar(url) {
        swal({
            title: 'Borrar???',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Aceptar!',
            closeOnConfirm: false,
            cancelButtonText: 'Cancelar',
        },
 function (isConfirm) {
     if (isConfirm) {
         location.href = url
     }
     else { return false; }

 });
    }
</script>
