﻿<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/theme.css")" rel="stylesheet">

    <script type="text/javascript">
        $(function MouseOver() {
            $('.dropdown').hover(function () {
                $(this).addClass('open');
            },
                function () {
                    $(this).removeClass('open');
                });
        });
    </script>

</head>
<body role="document">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" style="color:white" href="#">@ViewBag.Title</a>*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href='@Url.Action("FullCalendar", "Turnos")'>CALENDARIO</a></li>
                    <li><a href='@Url.Action("Alumno", "Alumno")'>ALUMNOS</a></li>
                    <li><a href='@Url.Action("Interesados","Interesados")'>INTERESADOS</a></li>
                    @*<li><a href='@Url.Action("Alumno","Alumno")'>ALUMNOS</a></li>*@
                    <li><a href='@Url.Action("Curso","Cursos")'>CURSOS</a></li>
                    <li><a href='@Url.Action("Receta2","Recetas")'>RECETAS</a></li>
                    @*   <li><a href='@Url.Action("Insumos", "Productos")'>INSUMOS</a></li>*@

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BAZAR<b class="caret"></b></a>
                        <ul class="dropdown-menu">


                            <li><a href='@Url.Action("ProductosBazar", "Productos")'>Productos</a></li>
                            <li><a href='@Url.Action("ComprasProdVentas", "Gastos", new { control=0})'>Compras</a></li>
                            <li><a href='@Url.Action("Ventas","Ventas")'>Ventas</a></li>
                        </ul>
                    </li>
                  @*  <li><a href='@Url.Action("login","Usuarios")'>Loguear</a></li>*@
                   

                    @*  <li><a href='@Url.Action("NuevoGasto","Gastos")'>GASTOS</a></li>*@
                    <li><a href='@Url.Action("Caja","Gastos")'>CAJA</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">INFORMES<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href='@Url.Action("IngresosPorCursos", "Cursos")'>Ingresos por cursos</a></li>
                            <li><a href='@Url.Action("Gastos", "Gastos")'>Egresos</a></li>
                            @*  <li><a href='@Url.Action("Caja", "Turnos")'>Caja</a></li>*@
                            @*  <li><a href='@Url.Action("Ventas","Ventas")'>Ventas</a></li>*@
                            <li><a href='@Url.Action("FiltradoAlumnos","Alumno")'>Alumnos</a></li>
                            <li><a href='@Url.Action("FiltroCurso","Alumno")'>Alumnos por cursos</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    @RenderBody()

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
    <script type="text/javascript">
        var url = window.location;
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).parent().addClass('active');
        $('.active').closest('li.dropdown').addClass('active');
    </script>
</body>
</html>