﻿@model Proyecto_1.Models.Interesados


<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @using (Html.BeginForm("EditI", "Interesados"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Editar Interesado </h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" hidden="hidden">
                @Html.LabelFor(model => model.idInteresado, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.idInteresado, new  { @class = "form-control" , @rows= "5" })
                    @Html.ValidationMessageFor(model => model.idInteresado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" hidden="hidden">
                @Html.LabelFor(model => model.idCurso, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.idCurso, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.idCurso, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Nombre,  new { @class = "form-control", @style = "max-width:250px", @autofocus = "autofocus", required = "required" })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono,  new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Telefono, new  { @class = "form-control", @style = "max-width:250px", required = "required" } )
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Usuario,  new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Usuario,  new { @class = "form-control", @style = "max-width:250px", required = "required" } )
                    @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label col-md-2">Curso (*):</label>
                <div class="col-md-10">
                    <select name="idCurso2" class="form-control" id="idCurso2" style="margin-bottom:5px; max-width:250px" required>
                        <option value="@ViewBag.idCurso" selected hidden>@ViewBag.nombreCurso</option>
                        @foreach (var item in (ViewBag.listaCursos))
                        {
                            <option value="@item.idCurso">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label col-md-2">Observacion :</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Observacion, new { @class = "form-control", @style = "max-width:250px", @rows= "5"})
                    @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="margin-top:8px">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Interesados", "Interesados")'" />
                </div>
            </div>
        </div>
    }

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
