﻿@model IEnumerable<Proyecto_1.Models.Interesados>

@{
    ViewBag.Title = "Interesados";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
</head>

<div id="pageintro" class="hoc clear">
    <div class="alert alert-success" role="alert">
        <strong style="color:green">@ViewBag.mensajeExito</strong>
    </div>
    <div class="alert alert-warning" role="alert">
        <strong style="color:orangered">@ViewBag.mensajeError</strong>
    </div>

    <h4 style="margin-top:15px; margin-bottom:-6px; margin-left:6px; color:white">Listado de Interesados del Curso: <b style="color:aquamarine"> @ViewBag.nombreCurso </b></h4>
    
    @if (Model.Any())
    {
        <table class="responstable">
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Telefono</td>
                    <td>
                        <div class="inline">
                            <input type="button" value="Editar" class="btn" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("EditarInteresado", "Interesados", new { idinteresado = item.idInteresado })'" />
                            <input type="button" value="Borrar" class="btn btnBorrar" id="btnBorrar" style="padding:5px 8px; font-size:small" onclick="return confirmar('@Url.Action("BorrarInteresadoDeCurso", "Interesados", new { idinteresado = item.idInteresado })')" />
                        </div>
                    </td>
                </tr>
            }
        </table>

    }

    else
    {
        <h4 style="margin-top:15px; margin-bottom:-6px; margin-left:6px; color:white"> <b style="color:aquamarine"> No hay personas interesadas en este curso</b></h4>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="margin-top:8px">
            <input type="button" value="Volver" class="btn btnBorrar" onclick="location.href='@Url.Action("Curso", "Cursos")'" />
        </div>
    </div>

</div>

<script>
    function confirmar(url) {
        swal({
            title: '¿Borar esta persona?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Si, Borrar!',
            closeOnConfirm: false,
            cancelButtonText: 'Cancelar',
        },
function (isConfirm) {
    if (isConfirm) {
        location.href = url
    }
    else { return false; }

});
    }
</script>