﻿@model IEnumerable<Proyecto_1.Models.Interesados>

@{
    ViewBag.Title = "Personas interesadas";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    <div class="alert-success" role="alert">
        <strong style="color:green">@ViewBag.mensajeExito</strong>
    </div>
    <div class="alert-warning" role="alert">
        <strong style="color:orangered">@ViewBag.mensajeError</strong>
    </div>

    <div class="row" style="margin-left:5px">
        <fieldset>
            <legend style="margin-bottom:11px; color:black">Alumnos interesados</legend>
            <form role="form" name="myform" method="post"  action="@Url.Action("FiltroPorCurso", "Interesados")">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label" for="select">Filtrar por curso</label> <br />
                        <select class="form-control" id="select" name="idCurso" style="max-width:300px; width:250px; margin-right: 15px" onchange="this.form.submit()">
                            <option selected>Seleccione un curso</option>
                            @foreach (var item in (ViewBag.listadoCursos))
                            {
                                <option required value="@item.idCurso">@item.Nombre</option>
                            }
                        </select>
                       
                    </div>
                    <input type="button" class="btn btn-primary" value="Nuevo interesado" style="float:right" onclick="location.href='@Url.Action("NuevoInteresado", "Interesados")'" />
                </div>
                <div class="form-group" style="margin-top:10px">
                    @*<input type="submit" value="Buscar" id="btn1" class="btn btn-primary" />*@
                </div>
            </form>
        </fieldset>
    </div>

    @if (Model.Any())
    {
        <table id="tabla" class="table table-striped table-hover table-bordered">
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th onclick="sortTable(0)">Interesado por el curso &#8597;</th>
            <th onclick="sortTable(1)">Fecha que fue anotado  &#8597;</th>
            <th>Observación</th>
            <th>¿Quién lo anotó?</th>
            <th>Acciones</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Telefono</td>
                <td>@item.Curso</td>
                <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                <td>@item.Observacion</td>
                <td>@item.Usuario</td>
                <td>
                    <input type="button" value="Editar" class="btn btn-warning" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("EditarInteresado", "Interesados", new { idInteresado = item.idInteresado, idCurso = item.idCurso })'" />
                    <input type="button" value="Borrar" class="btn btn-danger" id="btnBorrar" style="padding:5px 8px; font-size:small" onclick="return confirmar('@Url.Action("BorrarInteresadoDeCurso", "Interesados", new { idInteresado = item.idInteresado, idCurso = item.idCurso })')" />
                </td>
            </tr>
        }
    </table>
    }
    else
    {
        <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:45px">La busqueda no produjo resultados</label>
    }

</div>

<script>
    function confirmar(url) {
        swal({
            title: '¿Borrar interesado?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Si, Borrar!',
            closeOnConfirm: false,
            cancelButtonText: 'Cancelar',
        },
function (isConfirm) {
    if (isConfirm) {
        location.href = url
    }
    else { return false; }

});
    }
</script>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tabla");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 2) ; i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>



