﻿@model Proyecto_1.Models.Interesados

@{
    ViewBag.Title = "Nueva Interesado";
}

<div class="container-fluid" style="padding: 0% 5% 5% 5%">
    <form class="form-horizontal" method="post" action="@Url.Action("CrearInteresado","Interesados")">
        <fieldset style="padding:0% 5% 5% 5% ">
            <legend>Nuevo interesado</legend>
            <label style="font-size:small">(*) Campos obligatorios</label>
            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre (*)</label>
                <div>
                    <input autofocus type="text" style="max-width:250px" name="Nombre" class="form-control" id="Nombre" required>
                </div>
            </div>

            <div class="form-group">
                <label for="Telefono" class="control-label">Teléfono (*)</label>
                <div>
                    <input name="Telefono" type="text" required style="max-width:250px" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="Usuario" class="control-label">¿Quién lo anota? (*)</label>
                <div>
                    <input type="text" name="Usuario" style="max-width:250px" class="form-control" id="Usuario" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="select">Interesado/a por el curso (*)</label> <br />
                <select class="form-control" id="select" name="idCurso" style="max-width:300px; width:250px; margin-right: 15px"  required>
                    <option  value="">Seleccione un curso</option>
                    @foreach (var item in (ViewBag.listadoCursos))
                    {
                        <option required value="@item.idCurso">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="Observacion" class="control-label">Observacion </label>
                <div>
                    <textarea name="Observacion" style="max-width:250px" class="form-control" rows="5" id="observacion"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div style="margin-top:8px">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Interesados", "Interesados")'" />
                </div>
            </div>

        </fieldset>
    </form>
</div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
