﻿@model IEnumerable<Proyecto_1.ViewModels.Caja>

<div id="title">
    @{
        ViewBag.Title = "Caja";
    }
</div>

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>

    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">

    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('input[name="fecha"]').daterangepicker(
             {
                 autoUpdateInput: false,
                 opens: 'right',
                 drops: 'down',
                 autoApply: true,
                 //singleDatePicker: true,
                 //showDropdowns: true,
                 locale: {

                     format: 'DD/MM/YYYY',
                     "separator": "-",
                     "applyLabel": "Apply",
                     "cancelLabel": "Cancel",
                     "fromLabel": "Desde",
                     "toLabel": "Hasta",
                     "customRangeLabel": "Custom",
                     "weekLabel": "W",
                     "daysOfWeek": [
                     "Dom",
                     "Lun",
                     "Mar",
                     "Mie",
                     "Jue",
                     "Vie",
                     "Sab"
                     ],
                     "monthNames": [
                     "Enero",
                     "Febrero",
                     "Marzo",
                     "Abril",
                     "Mayo",
                     "Junio",
                     "Julio",
                     "Agosto",
                     "Septiembre",
                     "Octubre",
                     "Noviembre",
                     "Diciembre"
                     ],
                     "firstDay": 1
                 },
                 //startDate: new Date,
                 // endDate: new Date
             });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>

    <script type="text/javascript">
        function miFuncion() {
            document.getElementById("cabecera").style.display = 'none';
            document.getElementById("tabla").style.display = 'none';
            document.getElementById("tabla2").style.display = '';
            document.getElementById("titulo1").style.display = 'none';
            document.getElementById("titulo2").style.display = '';
            window.print();
            document.getElementById("cabecera").style.display = '';
            document.getElementById("tabla").style.display = '';
            document.getElementById("tabla2").style.display = 'none';
            document.getElementById("titulo1").style.display = '';
            document.getElementById("titulo2").style.display = 'none';
        };
    </script>

</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <div class="row" style="margin-right:5px; margin-left:5px" id="cabecera">
        <fieldset>
            <legend style="margin-bottom:11px; color:black">Caja</legend>
            <ul class="ui-corner-right" style="font-size:medium; margin-left:5px; list-style-type:square; float:right">
                <li style="color:#ffaf4b">Total egresos: $@ViewBag.totalGastos</li>
                <li style="color:cornflowerblue">Total ingresos: $@ViewBag.TotalVentas</li>
                <li style="color:darkgreen">Total bruto: $@ViewBag.total</li>
            </ul>

            <form action='@Url.Action("Caja2","Gastos")' style="margin-left:0px; margin-bottom:0px">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label" for="fecha">Filtrar por fecha:</label>
                        <input type="text" id="fecha" placeholder="Desde | Hasta" class="form-control" style="margin-right:2px; width:190px" name="fecha" required />
                        <input type="submit" class="btn btn-primary" value="Filtrar" style="margin-right:5px" />
                        <input type="button" value="Descargar" class="btn btn-default" style="margin-right:0px" onclick="location.href='@Url.Action("GenerarExcelCaja","Gastos")'" />
                        <input type="button" value="Imprimir" class="btn btn-default" style="margin-right:10px" onclick="miFuncion()" />
                        <select class="form-control" name="acc" id="ingresos" style="margin-bottom:6px; margin-top:7px; max-width:200px">
                            <option selected hidden disabled>Nuevo Ingreso</option>
                            <option id="ventas" value="Ventas">Ventas bazar</option>
                            <option id="cursos" value="Cursos">Cursos</option>
                            <option id="ingresoLibre" value="IngresoLibre">Otros</option>
                        </select>
                        <select class="form-control" name="acc" id="egresos" style="margin-bottom:6px;  margin-top:7px; max-width:200px">
                            <option selected hidden disabled>Nuevo Egreso</option>
                            <option id="ventas" value="PagoCuentas">Egresos</option>
                            <option id="cursos" value="CompraBazar">Compra bazar</option>
                        </select>
                        @*<input type="button" value="Pagar Gasto" class="btn btn-primary" onclick="location.href='@Url.Action("CrearGasto","Gastos")'" />*@
                        @*<input type="button" value="Compra bazar" class="btn btn-primary" onclick="location.href='@Url.Action("CrearCompraPV","Gastos")'" />*@
                        @*<input type="button" value="Venta bazar" class="btn btn-primary" onclick="location.href='@Url.Action("CrearVenta","Ventas")'" />*@
                    </div>
                </div>
            </form>
        </fieldset>
    </div>

    <h4 style="margin-top:0px; margin-bottom:10px" id="titulo1">@ViewBag.mensaje</h4>

    @if (Model.Any())
    {
        <div style="margin-top:5px">
           
            <table id="tabla" class="table table-striped table-hover table-bordered">
                <tr style="background-color:cadetblue">
                    <th style="background-color:lightgray" onclick="sortTable(0)">Fecha &#8597;</th>
                    <th style="background-color:lightgray" onclick="sortTable(1)">Usuario &#8597;</th>
                    <th style="background-color:lightgray" onclick="sortTable(2)">Concepto &#8597; </th>
                    <th style="background-color:lightgray; text-align:center" onclick="sortTable(3)">Ingresos &#8597;</th>
                    <th style="background-color:lightgray; text-align:center" onclick="sortTable(4)">Egresos &#8597;</th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.Concepto == "Venta bazar" || item.Concepto2 == "Inscripcion" || item.Concepto2 == "Cuota" || item.Concepto2 == "Ingreso libre")
                    {
                        <tr class="success">
                            <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                            <td> @item.Usuario</td>
                            <td> @item.Concepto</td>
                            <td style="text-align:center">$@item.Monto</td>
                            <td style="text-align:center">-</td>
                        </tr>
                    }

                    else
                    {
                        <tr class="danger">
                            <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                            <td> @item.Usuario</td>
                            <td>@item.Concepto2 @item.Concepto</td>
                            <td style="text-align:center">-</td>
                            <td style="text-align:center">$@item.Monto</td>
                        </tr>
                    }
                }
            </table>
        </div>
    }
    else
    {
        <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:35px">@ViewBag.mensajeInicio</label>
    }

    <h4 style="margin-top:-35px; margin-bottom:25px; display:none; font-size:small" id="titulo2">@ViewBag.mensaje</h4>
    @if (Model.Any())
    {
            <table id="tabla2" class="table table-striped table-bordered table-condensed" style="display:none; margin-top:-15px; font-size:smaller">
                <tr style="background-color:cadetblue; font-size:smaller">
                    <th style="background-color:lightgray" onclick="sortTable(0)">Fecha</th>
                    <th style="background-color:lightgray" onclick="sortTable(1)">Usuario</th>
                    <th style="background-color:lightgray" onclick="sortTable(2)">Concepto</th>
                    <th style="background-color:lightgray; text-align:center" onclick="sortTable(3)">Ingresos</th>
                    <th style="background-color:lightgray; text-align:center" onclick="sortTable(4)">Egresos</th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.Concepto == "Venta bazar" || item.Concepto2 == "Inscripcion" || item.Concepto2 == "Cuota" || item.Concepto2 == "Ingreso libre")
                    {
                        <tr class="success" style="font-size:smaller">
                            <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                            <td> @item.Usuario</td>
                            <td> @item.Concepto</td>
                            <td style="text-align:center">$@item.Monto</td>
                            <td style="text-align:center">-</td>
                        </tr>
                    }

                    else
                    {
                        <tr class="danger" style="font-size:smaller">
                            <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                            <td> @item.Usuario</td>
                            <td>@item.Concepto2 @item.Concepto</td>
                            <td style="text-align:center">-</td>
                            <td style="text-align:center">$@item.Monto</td>
                        </tr>
                    }
                }
                <tr style="font-size:smaller">
                    <td style="font-weight:bold" colspan="3">SubTotal</td>
                    <td style="font-weight:bold; text-align:center" colspan="1">$@ViewBag.TotalVentas</td>
                    <td style="font-weight:bold; text-align:center" colspan="1">$@ViewBag.totalGastos</td>
                </tr>
                <tr style="font-size:smaller">
                    <td style="font-weight:bold" colspan="4">TOTAL</td>
                    <td style="font-weight:bold; text-align:center" colspan="1">$@ViewBag.total</td>
                </tr>
            </table>
    }

</div>

<script type="text/javascript">
    $('#ingresos').on('change', function () {
        Option = this.value;
        if (Option == 'Ventas') {
            location.href = '@Url.Action("CrearVenta","Ventas", new { control=1})';
        }

        if (Option == 'Cursos') {
            return confirmar('@Url.Action("FullCalendar", "Turnos")');
        }
        if (Option == 'IngresoLibre') {
            return location.href = '@Url.Action("IngresoLibre","Ventas")';
        }

    });
</script>

<script type="text/javascript">
    $('#egresos').on('change', function () {
        Option = this.value;
        if (Option == 'PagoCuentas') {
            location.href = '@Url.Action("cuentas","Gastos")';
        }

        if (Option == 'CompraBazar') {

            location.href = '@Url.Action("CrearCompraPV","Gastos", new { control=1})';
        }
    });
</script>

<script>
    function sortTable(n) {
        var table, table2, rows, rows2, switching, i, x, x2, y, y2, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tabla");
        table2 = document.getElementById("tabla2");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            rows2 = table2.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1) ; i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                x2 = rows2[i].getElementsByTagName("TD")[n];
                y2 = rows2[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                rows2[i].parentNode.insertBefore(rows2[i + 1], rows2[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

<script>
    function confirmar(url) {
         swal({
             title: 'A continuación seleccione el curso donde ingresará el pago desde el calendario',
             type: 'warning',
             showCancelButton: true,
             confirmButtonColor: '#4d4dff',
             confirmButtonText: 'Continuar!',
             closeOnConfirm: false,
             cancelButtonText: 'Cancelar',
         },
function (isConfirm) {
    if (isConfirm) {
        location.href = url
    }
    else { return false; }

});
    }
</script>