﻿@model IEnumerable<Proyecto_1.Models.Gastos>

@{
    ViewBag.Title = "Compra de Insumos";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <style>
        input[type=search] {
            width: 280px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>
</head>

<div id="pageintro" class="hoc clear">

    <div class="alert alert-success" role="alert">
        <strong style="color:green">@ViewBag.mensajeExito</strong>
    </div>
    <div class="alert alert-warning" role="alert">
        <strong style="color:orangered">@ViewBag.mensajeError</strong>
    </div>

    <div class="inline">
        <form  action='@Url.Action("BuscarCompraInsumo","Gastos")' style="margin-left:-2px">
            <label>Filtrar por mes:</label>
            <input type="month" name="fecha" required />
            <input type="submit" value="Enviar" />
            
        </form>
        <input type="button" value="Nuevo Compra" class="btn" style="float:right; margin-top:18px" onclick="location.href='@Url.Action("CrearCompraInsumo", "Gastos")'">
    </div>

    <h4 style="margin-top:15px; margin-bottom:-6px; margin-left:6px">Listado de compras de insumos</h4>

    <table class="responstable">
        <tr>
            <th>Fecha</th>
            <th>Comprado por</th>
            <th>Detalle</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FechaGasto.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.Usuario</td>
                <td>
                    <input type="button"  value="Ver detalle" class="btn" onclick="location.href='@Url.Action("DetalleCompraInsumo", "Gastos",new { id = item.idGasto, fecha= item.FechaGasto })'"/>
                </td>
            </tr>
        }
    </table>
</div>

<script>
    function confirmar(url) {
        swal({
            title: '¿Borar este registro?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Si, Borrar!',
            closeOnConfirm: false,
            cancelButtonText: 'Cancelar',
        },
function (isConfirm) {
    if (isConfirm) {
        location.href = url
    }
    else { return false; }
});
    }
</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>


<script type="text/javascript">
    $(function prueba() {
        $('#fecha').on('change', function (event) {
            var mess = this.value.toString();
            location.href = '@Url.Action("BuscarCompraInsumo", "Gastos", new { mes = "param-id" })'.replace("param-id",mess);
        })
    });
</script>

