﻿@{
    ViewBag.Title = "Nuevo Gasto";
}

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('input[name="fecha"]').daterangepicker(
                {
                    singleDatePicker: true,
                    showDropdowns: true,
                    //autoUpdateInput: false,
                    locale: {
                        format: 'DD/MM/YYYY',
                        "separator": "-",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "Desde",
                        "toLabel": "Hasta",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sab"
                        ],
                        "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                        ],
                        "firstDay": 1
                    },
                    startDate: new Date,
                    endDate: new Date
                });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }
    
    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }
   
    <form method="post" action="@Url.Action("InsertarGasto","Gastos")">
        <fieldset  style="max-width:400px; padding:0% 5% 5% 5% ">
            <legend>Pagar gasto</legend>

            <div class="form-group" style="display:none" id="tipogasto">
                <label class="control-label">Tipo Gasto (*)</label>
                <div>
                    <input class="form-control" type="text" name="nuevoTipo" autofocus="autofocus" />
                </div>
            </div>

            <div class="form-group">
                <select required name="idTipoGasto" id="tipoGastos" class="form-control" title="Seleccione el tipo de gasto">
                    <option disabled selected hidden>SELECCIONAR TIPO GASTO</option>
                    @foreach (var item in (ViewBag.listaTipo))
                     {
                        <option requiered value="@item.idTipoGasto">@item.TipoGasto</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="gasto" class="control-label">Nombre Gasto (*)</label>
                <div>
                    <input type="text" name="gasto" class="form-control" id="gasto" required>
                </div>
            </div>

            <div class="form-group">
                <label for="monto" class="control-label">Monto (*)</label>
                <div>
                    <input type="text" name="monto" class="form-control" id="monto" required pattern="[0-9]+([\.,][0-9]+)?" step="0.01" title="Ingrese de manera correcta el monto"/>
                </div>
            </div>

            <div class="form-group">
                <label for="fecha" class="control-label">Fecha (*)</label>
                <div>
                    <input type="text" name="fecha" class="form-control" id="fecha" />
                </div>
            </div>


            <div class="form-group">
                <label for="usuario" class="control-label">¿Quién registra el pago? (*)</label>
                <div>
                    <input type="text" name="usuario" class="form-control" id="usuario" required />
                </div>
            </div>

            <div class="inline">
                <input type="submit" value="Aceptar" class="btn btn-primary" />
                <input type="button" id="nuevoTipo" value="Nuevo Tipo" class="btn btn-primary" onclick="mostrar()" />
                <input type="button" value="cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Caja","Gastos")'" />
            </div>
        </fieldset>
    </form>
    
</div>

<script type="text/javascript">
    function mostrar() {
        document.getElementById('tipogasto').style.display = '';
        document.getElementById('tipoGastos').style.display = 'none';
        document.getElementById('nuevoTipo').style.display= 'none';
}
</script>
