﻿@model Proyecto_1.ViewModels.GastosGeneral

@{
    ViewBag.Title = "Nueva compra de insumos";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery-ui-1.12.1.custom/jquery-1.2.3.min.js"></script>

    <style>
        input[type=search] {
            width: 280px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.vacia != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.vacia</strong>
        </div>
    }
   
    <h4 style="margin-top:15px; margin-bottom:10px; margin-left:10px">NUEVA COMPRA INSUMO</h4>
    <hr style="margin-left:10px"/>

    <div class="inline" style="margin-left:2.5px; margin-top:10px; margin-bottom:10px">
        <form method="post" action="@Url.Action("CrearCompraInsumo2","Gastos")" style="margin-left:-2px">
            <input type="search" id="busqueda" name="cadena" placeholder="Buscar producto.." />
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </form>
    </div>

    @if (Model.l_Producto != null)
    {
        <table  class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th>Nombre</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Agregar</th>
            </tr>
            @foreach (var item in Model.l_Producto)
            {

                <tr>

                    <td id="nombre @item.idProducto">@item.Nombre</td>
                    <td id="unidad @item.idProducto">@item.Unidad</td>
                    <td>
                        <input type="text" id="cantidad @item.idProducto" style="width: 100px; height:30px; padding: 2px" name="cantidad" />
                    </td>
                    
                    <td>
                        <input type="button" id="agregar" class="btn btn-primary" value="Agregar" onclick="prueba2(@item.idProducto, '@Url.Action("AgregarLineaCompraInsumo", "Gastos", new { cantidad = "param-id", idproducto = "param-id3", nombre = item.Nombre, unidad = item.Unidad })' )" />
                    </td>

                </tr>
            }
        </table>
    }
    
    @if (Model.l_LineaCompras != null)
    {
        <h4 style="margin-top:10px; margin-bottom:10px; margin-left:6px">RESUMEN DE LA COMPRA</h4>

        <div>
            <table  class="table table-striped table-hover table-bordered">
                <tr style="background-color:cadetblue">
                    <th>Nombre</th>
                    <th>Unidad</th>
                    <th>Cantidad</th>
                    <th>Quitar</th>
                </tr>

                @foreach (var item in Model.l_LineaCompras)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Unidad</td>
                        <td>@item.Cantidad</td>
                        <td>
                            <input type="button" value="Quitar" class="btn btn-danger" onclick="location.href='@Url.Action("QuitarLineaCompraInsumo", "Gastos", new { idproducto= item.idProducto, nombre= item.Nombre})'" />
                        </td>
                    </tr>
                }

            </table>
        </div>
        <form method="post" Action= "@Url.Action("NuevaCompraInsumo", "Gastos")">
        <div>
            <label style="margin-left:10px">Usuario:</label>
            <input type="text" id="usuario" style="width: 224px; margin-bottom: 15px; margin-left:10px; height:30px; padding: 2px" name="usuario" required pattern="[A-Za-Z]{3,20}" title="ingrese un usuario"/>
        </div>

        <div class="inline" style="margin-left:10px">
            <input type="submit" value="Aceptar" class="btn btn-primary" />
            <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Insumos", "Productos")'" />
        </div>
        </form>
    }
</div>



<script type="text/javascript">
    function prueba2(id, dire) {
        var nombre = 'cantidad' + ' ' + id;
        var cant = document.getElementById(nombre).value;

        if (!Number(cant))
        {
            document.getElementById(nombre).focus();
            document.getElementById(nombre).style.borderColor="#f31512";
            return false;
        }

        location.href = dire.replace("param-id", cant).replace("param-id3", id);
    }
</script>

