﻿@model IEnumerable<Proyecto_1.Models.Gastos>

@{
    ViewBag.title = "Cuentas";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('input[name="fecha"]').daterangepicker(
                {
                    autoUpdateInput: false,
                    opens: 'right',
                    drops: 'down',
                    autoApply: true,
                    //singleDatePicker: true,
                    //showDropdowns: true,
                    locale: {

                        format: 'DD/MM/YYYY',
                        "separator": "-",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "Desde",
                        "toLabel": "Hasta",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                            "Dom",
                            "Lun",
                            "Mar",
                            "Mie",
                            "Jue",
                            "Vie",
                            "Sab"
                        ],
                        "monthNames": [
                            "Enero",
                            "Febrero",
                            "Marzo",
                            "Abril",
                            "Mayo",
                            "Junio",
                            "Julio",
                            "Agosto",
                            "Septiembre",
                            "Octubre",
                            "Noviembre",
                            "Diciembre"
                        ],
                        "firstDay": 1
                    },
                    //startDate: new Date,
                    // endDate: new Date
                });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <div class="row" style="margin-left:5px">
        <fieldset>
            <legend style="margin-bottom:11px">Cuentas</legend>
            <form action='@Url.Action("buscarCuenta","Gastos")' style="margin-left:-2px">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label" for="fecha">Buscar entre fechas:</label><br />
                        <input type="text" class="form-control" placeholder="Desde   |   Hasta" name="fecha" style="max-width:250px; margin-right:5px; width:200px" required title="seleccionar rango de fechas" />
                        <input type="submit" class="btn btn-primary" value="Enviar" />

                    </div>
                    <input type="button" value="Pagar cuenta" class="btn btn-primary" style="float:right; margin-top:18px; margin-bottom:10px" onclick="location.href='@Url.Action("crearGasto", "Gastos")'">
                </div>
            </form>
        </fieldset>
    </div>
    <h4 style="margin-top:15px; margin-bottom:15px; margin-left:6px">@ViewBag.mensajeFecha</h4>

    @if (Model.Any())
    {


        <table class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th>Cuenta</th>
                <th>Tipo cuenta</th>
                <th>Monto</th>
                <th>Fecha</th>
                <th>¿Quién lo pagó?</th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Tipo</td>
                <td>$@item.Total</td>
                <td>@item.FechaGasto.ToString("dd/MM/yyyy")</td>
                <td>@item.Usuario</td>
                <td>
                    <input type="button" value="Editar" class="btn btn-warning" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("EditarCompraBazar", "Gastos", new { idGasto = item.idGasto})'" />
                    <input type="button" value="Borrar" class="btn btn-danger" style="padding:5px 10px; font-size:small" onclick="return confirmar('@Url.Action("BorrarCuenta", "Gastos", new { idgasto = @item.idGasto })')" />
                </td>
            </tr>
            }
        </table>
    }
    else
    {
        <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:45px">@ViewBag.mensajeInicio</label>
    }

</div>

<script>
    function confirmar(url) {
        swal({
            title: '¿Desea borrar esta compra?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Si, Borrar!',
            closeOnConfirm: true,
            cancelButtonText: 'Cancelar',
        },
            function (isConfirm) {
                if (isConfirm) {
                    location.href = url;
                }
                else { return false; }
            });
    }
</script>

<script type="text/javascript">
    $(function prueba() {
        $('#fecha').on('change', function (event) {
            var mess = this.value.toString();
            location.href = '@Url.Action("BuscarCompraBazar", "Gastos", new { mes = "param-id" })'.replace("param-id", mess);
        })
    });
</script>
