﻿@model IEnumerable<Proyecto_1.Models.LineaGastos>

@{ 
    ViewBag.Title = "Detalle compra de insumo";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery-ui-1.12.1.custom/jquery-1.2.3.min.js"></script>

</head>

<div id="pageintro" class="hoc clear">

 <h4 style="margin-top:15px; margin-bottom:-6px; margin-left:6px">Resumen de la compra</h4>
    <hr />

    <h2 style="margin-left:3px; color:white">Fecha: <b style="color:aquamarine; text-transform:uppercase"> @ViewBag.Fecha </b>  </h2>

    <div>
        <table class="responstable">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Unidad</th>
                <th>Cantidad</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.idProducto</td>
                    <td>@item.Nombre</td>
                    <td>@item.Unidad</td>
                    <td>@item.Cantidad</td>
                </tr>
            }

        </table>
        <div class="inline">
            <input type="button" value="Volver" class="btn btnBorrar" onclick="location.href='@Url.Action("ComprasInsumos", "Gastos")'" />
        </div>
       
    </div>

</div>
