﻿@model Proyecto_1.ViewModels.GastosGeneral

@{
    ViewBag.Title = "Editar compra de bazar";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/Content/jquery-ui-1.12.1.custom/jquery-1.2.3.min.js"></script>

    <style>
        input[type=search] {
            width: 280px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("busqueda");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</head>


<div class="container-fluid" style="padding: 0% 5% 5% 5%">
    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    @if (ViewBag.Vacia != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.vacia</strong>
        </div>
    }

    <h4 style="margin-top:15px; margin-bottom:15px; margin-left:10px">Editar compra de bazar</h4>
    <hr style="margin-left:10px" />

    <h2 style="margin-left:3px; text-align:left; color:white"><b style="color:aquamarine; text-transform:uppercase"> @ViewBag.Mensaje </b>  </h2>

    <div class="inline" style="margin-bottom:8px">
        <form method="post" action="@Url.Action("CrearCompraPV2","Gastos")" style="margin-left:-2px">
            <input type="search" id="busqueda" name="cadena" onkeyup="myFunction()" placeholder="Buscar producto.." />
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </form>

    </div>

    @if (Model.l_Producto.Any())
    {
        <h4 style="margin-top:15px; margin-bottom:12px; margin-left:6px; color:black">Productos:</h4>
        <table id="myTable" class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th style="background-color:lightgray">Nombre</th>
                <th style="background-color:lightgray">Cantidad</th>
                <th style="background-color:lightgray">Precio por unidad</th>
                <th style="background-color:lightgray">Agregar</th>
            </tr>
            @foreach (var item in Model.l_Producto)
            {
                <tr>
                    <td id="nombre">@item.Nombre</td>
                    <td>
                        <input type="text" id="cantidad @item.idProducto" style="width: 100px; height:30px; padding: 2px" name="cantidad" />
                    </td>
                    <td>
                        <input type="text" id="precio @item.idProducto" style="width: 100px; height:30px; padding: 2px" name="precio" />
                    </td>
                    <td>
                        <input type="button" id="agregar" class="btn btn-primary" value="Agregar" style="padding:5px 10px; font-size:small" onclick="agregar(@item.idProducto, '@Url.Action("AgregarLineaCompraBazar", "Gastos", new { cantidad = "param-id", precio = "param-id2", idproducto = "param-id3", nombre = item.Nombre })' )" />
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:30px">@ViewBag.mensajeInicio</label>
    }

    @if (Model != null && Model.l_LineaCompras != null)
    {
        <h4 style="margin-top:15px; margin-bottom:12px; margin-left:6px; color:black">Resumen de la compra:</h4>

        <div id="result">
            <table class="table table-striped table-hover table-bordered">
                <tr style="background-color:cadetblue">
                    <th style="background-color:lightgray">Producto</th>
                    <th style="background-color:lightgray">Cantidad</th>
                    <th style="background-color:lightgray">Precio por unidad</th>
                    <th style="background-color:lightgray">Subtotal</th>
                    <th style="background-color:lightgray">Quitar</th>
                </tr>

                @foreach (var item in Model.l_LineaCompras)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Cantidad</td>
                        <td>@item.Precio</td>
                        <td>@item.SubTotal</td>
                        <td>
                            <input type="button" value="Quitar" class="btn btn-warning" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("QuitarLineaCompraBazar", "Gastos", new { idproducto= item.idProducto, nombre= item.Nombre})'" />
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4" style="font-weight:bold">Total</td>
                    <td colspan="1" style="font-weight:bold">$@ViewBag.Total</td>
                </tr>
            </table>
        </div>

        <form method="post" class="form-horizontal" style="margin-left:5px" action="@Url.Action("EditCompraBazar", "Gastos")">
            <div class="form-group">
                <label style="margin-left:10px" class="control-label">¿Quién lo edita?</label>
                <input type="text" class="form-control" id="usuario" style="width: 224px; margin-bottom: 15px; margin-left:10px; height:30px; padding: 2px" name="usuario" required pattern="[A-Za-z]{3, 20}" title="Debe ingresar el usuario" />
            </div>

            <div class="inline">
                <input type="submit" value="Aceptar" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("ComprasProdVentas", "Gastos")'" />
            </div>
        </form>
    }
</div>

<script type="text/javascript">
    function agregar(id, dire) {
        var nombre = 'cantidad' + ' ' + id;
        var nombre2 = 'precio' + ' ' + id;
        var cant = document.getElementById(nombre).value;
        var prec = document.getElementById(nombre2).value;
        var isValid = /^[0-9,.]*$/.test(prec);
        var isValidCant = /^[0-9]*$/.test(cant);

        if (!isValidCant || cant == '') {
            document.getElementById(nombre).focus();
            document.getElementById(nombre).setCustomValidity("Ingrese la cantidad correctamente");
            return false;
        }

        if (!isValid || prec == '') {
            document.getElementById(nombre2).focus();
            document.getElementById(nombre2).setCustomValidity("Ingrese el precio correctamente");
            return false;
        }


        location.href = dire.replace("param-id2", prec).replace("param-id", cant).replace("param-id3", id);
    }
</script>