﻿@model IEnumerable<Proyecto_1.Models.Gastos>
@{
    ViewBag.Title = "Egresos";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <style>
        input[type=search] {
            width: 280px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">

        $(function () {

            $('input[name="fecha"]').daterangepicker(
                {
                    autoUpdateInput: false,
                    opens: 'right',
                    drops: 'down',
                    autoApply: true,
                    //singleDatePicker: true,
                    //showDropdowns: true,
                    locale: {
                        format: 'DD/MM/YYYY',
                        "separator": "-",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "Desde",
                        "toLabel": "Hasta",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sab"
                        ],
                        "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                        ],
                        "firstDay": 1
                    },
                    //startDate: new Date,
                    // endDate: new Date
                });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <div class="row" style="margin-left:5px">
        <fieldset>
            <legend style="margin-bottom:11px; color:black">Egresos</legend>
            <form action='@Url.Action("BuscarGasto","Gastos")' id="f1" style="margin-left:-2px">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label" for="fecha">Buscar entre fechas:</label><br />
                        <input type="text" placeholder="Desde  |  Hasta" class="form-control" id="fecha" name="fecha" style="max-width:250px; width:200px" required />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="fecha">Tipo gasto:</label><br />
                        <select class="form-control" name="idTipoGasto" id="tipoGastos" style="max-width:250px; margin-right:5px">
                            <option disabled selected hidden>Tipo de gasto</option>
                            @foreach (var item in (ViewBag.listaTipo))
                            {
                                <option requiered value="@item.idTipoGasto">@item.TipoGasto</option>
                            }
                        </select>
                        <input type="submit" form="f1" class="btn btn-primary" value="Filtrar" />
                        <input type="button" class="btn btn-default" value="Descargar" onclick="location.href='@Url.Action("GenerarExcel","Gastos")'" />
                    </div>
                </div>

            </form>
        </fieldset>
    </div>

    <h4 style="margin-top:10px; margin-bottom:10px; margin-left:6px">@ViewBag.fechas</h4>

    @if (Model.Any())
    {
        <table id="tabla" class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th style="background-color:lightgray" onclick="sortTable(0)">Fecha &#8597;</th>
                <th style="background-color:lightgray" onclick="sortTable(1)">Tipo gasto &#8597;</th>
                <th style="background-color:lightgray" onclick="sortTable(2)">Gasto &#8597;</th>
                <th style="background-color:lightgray" onclick="sortTable(3)">¿Quién lo pagó? &#8597;</th>
                <th style="background-color:lightgray" onclick="sortTable(4)">Monto &#8597;</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FechaGasto.ToString("dd/MM/yyyy")</td>
                    <td>@item.Tipo</td>
                    <td>@item.Nombre</td>
                    <td>@item.Usuario</td>
                    <td>$@item.Total</td>

                </tr>
            }
                <tr>
                    <td style="font-weight:bold" colspan="4">TOTAL</td>
                    <td style="font-weight:bold" colspan="1">$@ViewBag.total</td>
                </tr>
        </table>
    }
    else
    {
        <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:45px">@ViewBag.mensajeInicio</label>
    }
</div>

<script>
    function confirmar(url) {
        swal({
            title: '¿Borar este registro?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Si, Borrar!',
            closeOnConfirm: false,
            cancelButtonText: 'Cancelar',
        },
function (isConfirm) {
    if (isConfirm) {
        location.href = url
    }
    else { return false; }
});
    }
</script>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tabla");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 2) ; i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

