﻿@model IEnumerable<Proyecto_1.Models.Gastos>

@{
    ViewBag.Title = "Ingresar Nuevo Gasto";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <style>
        input[type=search] {
            width: 280px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>

    @*<link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('input[name="fecha"]').daterangepicker(
                {
                    singleDatePicker: true,
                    showDropdowns: true,
                    //autoUpdateInput: false,
                    locale: {
                        format: 'DD/MM/YYYY',
                        "separator": "-",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "Desde",
                        "toLabel": "Hasta",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sab"
                        ],
                        "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                        ],
                        "firstDay": 1
                    },
                    startDate: new Date,
                    endDate: new Date
                });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }
    <fieldset>
        <legend>Pago de cuentas y gastos</legend>
    </fieldset>


    @if (ViewBag.listaTipo != null)
    {
        <div class="row" style="margin-left:5px">
            <div class="form-inline">
                <div class="form-group" style="max-width:200px;">
                    <select name="idTipoGasto" id="tipoGastos" class="form-control">
                        <option disabled selected hidden>Tipo de gasto</option>
                        @foreach (var item in (ViewBag.listaTipo))
                        {
                            <option requiered value="@item.idTipoGasto">@item.TipoGasto</option>
                        }
                    </select>
                </div>
                <input type="button" value="Nuevo Gasto" class="btn btn-primary" style="float:right; margin-bottom:10px" onclick="location.href='@Url.Action("CrearGasto", "Gastos")'" />
            </div>
        </div>
    }

    <h4 style="margin-top:10px; margin-bottom:10px">Listado de Gastos</h4>
    <table class="table table-striped table-hover table-bordered">
        <tr style="background-color:cadetblue">
            <th>Gasto</th>
            <th>Tipo gasto</th>
            <th>Quien paga</th>
            <th>Fecha</th>
            <th>Pagar</th>

        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Tipo</td>
                <td>
                    <input type="text" id="usuario @item.Nombre" style="width: 150px; height:30px; padding: 2px" name="usuario" title="Debe ingresar un nombre de usuario" />
                </td>
                <td>
                    <input type="text" id="fecha @item.Nombre" style="width: 150px; height:30px; padding: 2px" name="fecha" />
                </td>
                <td>
                    <div class="inline">
                        <input type="text" id="monto @item.Nombre" style="width: 100px; height:30px; padding: 2px" name="monto" title="solo numeros y decimales con punto" />
                        <input type="button" value="Pagar" class="btn btn-primary" onclick="prueba2('@item.Nombre', '@Url.Action("PagarGasto", "Gastos", new { monto = "param-id2", idTipoG = item.idTipoGasto, nombre= item.Nombre, usuario= "param-id3", fecha="param-fecha"})' )" />
                    </div>
                </td>
            </tr>
        }
    </table>
</div>


<script type="text/javascript">
    function prueba2(id, dire) {
        var user = 'usuario' + ' ' + id;
        var precio = 'monto' + ' ' + id;
        var fecha = 'fecha' + ' ' + id;
        var prec = document.getElementById(precio).value;
        var usuario = document.getElementById(user).value;
        var fec = document.getElementById(fecha).value;
        var isValid = /^[0-9,.]*$/.test(prec);

        if (usuario == '') {
            document.getElementById(user).focus();
            document.getElementById(user).style.borderColor = "#f31512";
            return false;
        }

        if (prec == '' || !isValid) {
            document.getElementById(precio).focus();
            document.getElementById(precio).style.borderColor = "#f31512";
            return false;
        }
        location.href = dire.replace("param-id2", prec).replace("param-id3", usuario).replace("param-fecha", fec);
    }
</script>

<script type="text/javascript">
    $(function () {
        $('#tipoGastos').on('change', function (event) {
            var opt = this.value.toString();
            location.href = '@Url.Action("BuscarGastoPorTipo", "Gastos", new { idTipoGasto = "param-id" })'.replace("param-id", opt);
        });
    });
</script>


