﻿       *  {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 62.5%;
        line-height: 1;
    }

    p {
        font-size: 150px;
        font-size: 15rem;    
        line-height: 1.333333334;
        margin-bottom: 20px;
        margin-bottom: 2rem;
        text-align: justify;
        margin-left:100px;
        margin-right:100px;
        text-align:left;
        width:100px;
        max-width:150px;
    }

    .three-columns {
        
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        
        -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
        -moz-column-gap: 20px; /* Firefox */
        column-gap: 20px;
 
        /*-webkit-column-gap: 2rem; 
        -moz-column-gap: 2rem; 
        column-gap: 2rem;*/

      
        
        -webkit-column-rule: 50px solid rgb(75, 180, 149)  ; /* Chrome, Safari, Opera */
        -moz-column-rule: 5px solid rgb(75, 180, 149)  ; /* Firefox */
        column-rule: 5px solid rgb(75, 180, 149)  ;
        
        -webkit-column-rule: 0.5rem solid rgb(75, 180, 149)  ; /* Chrome, Safari, Opera */
        -moz-column-rule: 0.5rem solid rgb(75, 180, 149)  ; /* Firefox */
        column-rule: 0.5rem solid rgb(75, 180, 149)  ;
        
        margin: 10px;
        margin: 1rem;

    }

