﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index HOLA MUNDO!</title>
</head>
<body>
    <div> 
        <h4>HOLA MUNDO!</h4>
        <label>@ViewBag.mensajeError</label>
    </div>
</body>
</html>
