﻿@{
    ViewBag.Title = "Crear usuario";
}
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert" style="margin-bottom:5px">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-danger" role="alert" style="margin-bottom:5px">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <form class="form-horizontal" method="post" action="@Url.Action("LogInClick_Click","Usuarios")">
        <fieldset style="max-width:400px; padding:0% 5% 5% 5% ">
            <legend>Nuevo usuario</legend>
            <label style="font-size:small">(*) Campos obligatorios</label>

            <div class="form-group">
                <label for="username" class="control-label">Nombre de usuario (*)</label>
                <div>
                    <input type="text" name="username" class="form-control" id="username" required pattern="[A-Za-z]{2-50}" title="Solo letras">
                </div>
            </div>


            <div class="form-group">
                <label for="password" class="control-label">PassWord (*)</label>
                <div>
                    <input autofocus type="password" name="password" class="form-control" id="password" required pattern="{6,}" title="incorrecto">
                </div>
            </div>

            <div class="form-group">
                <div style="margin-top:8px">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </fieldset>
    </form>
</div>


