﻿@model Proyecto_1.Models.Alumno
@{
    ViewBag.Title = "Editar Alumno";
}

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('input[name="fecha"]').daterangepicker(
                {
                    singleDatePicker: true,
                    showDropdowns: true,
                    autoUpdateInput: false,
                    locale: {
                        format: 'DD/MM/YYYY',
                        "separator": "-",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "Desde",
                        "toLabel": "Hasta",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sab"
                        ],
                        "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                        ],
                        "firstDay": 1
                    },
                    startDate: new Date,
                    endDate: new Date
                });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @using (Html.BeginForm("Edit", "Alumno"))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal" role="form">
        <h4 style="color:black">Editar Alumno</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.idAlumno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idAlumno, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idAlumno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control", @style = "max-width:300px", required = "required" })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Nombre, null, new { @class = "form-control", @style = "max-width:300px", @autofocus = "autofocus", required = "required" })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.Sexo == "True")
            {
                @Html.RadioButtonFor(model => model.Sexo, "Mujer", new { @checked = "", @value = "Mujer" })
                @Html.ValidationMessageFor(model => model.Sexo)
        }
        else
        {
            @Html.RadioButtonFor(model => model.Sexo, "Mujer", new { @value = "Mujer" })
            @Html.ValidationMessageFor(model => model.Sexo)
    }
                Mujer
            </div>
            <div class="col-md-10">
                @if (Model.Sexo == "False")
            {
                @Html.RadioButtonFor(model => model.Sexo, "Varon", new { @checked = "", @value = "Varon" })
                @Html.ValidationMessageFor(model => model.Sexo)
        }
        else
        {
            @Html.RadioButtonFor(model => model.Sexo, "Varon", new { @value = "Varon" })
            @Html.ValidationMessageFor(model => model.Sexo)
    }
                Varon
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @style = "max-width:300px", required = "required", pattern = "[0-9]{7,14}" })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Telefono2, new { @class = "form-control", @style = "max-width:300px" })
                @Html.ValidationMessageFor(model => model.Telefono2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dni, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.Dni == 1111111)
            {
                <input type="text" class="form-control" value="-" name="Dni" id="Dni" style="max-width:300px" />
        }
        else
        {
            @Html.TextBoxFor(model => model.Dni, new { @class = "form-control", @style = "max-width:300px" })
    }
                @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Direccion, new { @class = "form-control", @style = "max-width:300px" })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fecha, new { @class = "form-control", @style = "max-width:300px" })
                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Mail, new { @class = "form-control", @style = "max-width:300px" })
                @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Usuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Usuario, new { @class = "form-control", @placeholder = "¿Quien inscribe?", @style = "max-width:300px", required = "required" })
                @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-top:8px">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Alumno", "Alumno")'" />
            </div>
        </div>
    </div>
    }
</div>
