﻿@model IEnumerable<Proyecto_1.Models.Alumno>

@{
    ViewBag.title = "Filtro Alumnos";
}
<head>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</head>
<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <div class="row" style="margin-left:5px">
        <fieldset>
            <legend style="margin-bottom:11px; color:black">Informe de Alumnos</legend>
            <form role="form" name="myform" method="post" action="@Url.Action("Filtro", "Alumno")">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label" for="select">Filtrar por curso tomado:</label> <br />
                        <select class="form-control" id="select" name="idCurso1" style="max-width:300px; width:250px; margin-right: 15px">
                            <option selected>Indistinto</option>
                            @foreach (var item in (ViewBag.listadoCursos))
                            {
                                <option required value="@item.idCurso">@item.Nombre</option>
                            }
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="select2" class="control-label">Filtrar por curso No tomado:</label> <br />
                        <select class="form-control" id="select2" name="idCurso2" style="max-width:300px; width:250px; margin-right: 15px">
                            <option selected>Indistinto</option>
                            @foreach (var item in (ViewBag.listadoCursos))
                            {
                                <option required value="@item.idCurso">@item.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="select2" class="control-label">Filtrar por género: </label> <br />
                        <select class="form-control" id="select3" name="sexo" style="max-width:300px; width:250px; margin-right: 15px">
                            <option value="" selected>Indistinto</option>
                            <option value="Mujer">Mujer</option>
                            <option value="Varon">Varon</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <input type="submit" value="Buscar" id="btn1" class="btn btn-primary" />
                    <input type="button" value="Descargar" id="descargar" class="btn btn-default" onclick="location.href='@Url.Action("GenerarExcel", "Alumno")'" />
                </div>
            </form>
        </fieldset>
    </div>

    <h4 style="margin-top:5px; margin-bottom:10px; margin-left:6px"> @ViewBag.mensaje</h4>


    @if (Model != null)
            {
        <table id="tabla" style="margin-top:8px" class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th style="background-color:lightgray" onclick="sortTable(0)">Apellido &#8597;</th>
                <th style="background-color:lightgray" onclick="sortTable(1)">Nombre &#8597;</th>
                <th style="background-color:lightgray" onclick="sortTable(2)">Teléfono &#8597;</th>
                <th style="background-color:lightgray" onclick="sortTable(3)">E-Mail &#8597;</th>
                <th style="background-color:lightgray" onclick="sortTable(4)">Fecha Nac &#8597;</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Apellido</td>
                    <td>@item.Nombre</td>
                    <td>@item.Telefono</td>
                    <td>@item.Mail</td>
                    <td>@item.FechaNac.ToShortDateString()</td>
                </tr>
            }
        </table>
    }
</div>

    <script type="text/javascript">
            // var x = document.getElementById('tabla');
       // alert("hola");
            var x = document.getElementById('descargar');
            x.removeClass('hide');
            //$('#descargar').show();
            // document.getElementById('descargar').removeClass('hide');
            //x.hidden = true;
            //document.getElementById('btn1').style.display = 'none';
        
    </script>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("tabla");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>


