﻿@model IEnumerable<Proyecto_1.Models.Alumno>

@{
    ViewBag.title = "Alumnos por curso";
}

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />
    <script type="text/javascript">

        $(function () {
            $('input[name="fecha"]').daterangepicker(
                           {
                               autoUpdateInput: false,
                               opens: 'right',
                               drops: 'down',
                               autoApply: true,
                               //singleDatePicker: true,
                               //showDropdowns: true,
                               locale: {

                                   format: 'DD/MM/YYYY',
                                   "separator": "-",
                                   "applyLabel": "Apply",
                                   "cancelLabel": "Cancel",
                                   "fromLabel": "Desde",
                                   "toLabel": "Hasta",
                                   "customRangeLabel": "Custom",
                                   "weekLabel": "W",
                                   "daysOfWeek": [
                                   "Dom",
                                   "Lun",
                                   "Mar",
                                   "Mie",
                                   "Jue",
                                   "Vie",
                                   "Sab"
                                   ],
                                   "monthNames": [
                                   "Enero",
                                   "Febrero",
                                   "Marzo",
                                   "Abril",
                                   "Mayo",
                                   "Junio",
                                   "Julio",
                                   "Agosto",
                                   "Septiembre",
                                   "Octubre",
                                   "Noviembre",
                                   "Diciembre"
                                   ],
                                   "firstDay": 1
                               },
                               //startDate: new Date,
                               // endDate: new Date
                           });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>

</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <div class="row" style="margin:5px">
        <fieldset>
            <legend style="margin-bottom:11px; color:black">Informe de alumnos por curso</legend>
            <div class="form-inline">
                <div class="form-group">
                    <form action='@Url.Action("FiltroCurso2","Alumno")' style="margin-left:-2px">
                        <label class="control-label">Buscar entre fechas:</label><br />
                        <input type="text" placeholder="Desde  |  Hasta" class="form-control" style="max-width:250px; margin-right:5px; width:200px" name="fecha" required title="seleccionar rango de fechas"/>
                        <input type="submit" value="Filtrar" class="btn btn-primary" />
                        <input type="button" value="Descargar" class="btn btn-default" onclick="location.href='@Url.Action("GenerarExcel2","Alumno")'" />
                    </form>
                </div>
            </div>
           </fieldset>
        </div>

            @if (Model.Any())
            {
                <h4 style="margin-top:10px; margin-bottom:10px; margin-left:6px"> @ViewBag.fecha</h4>
                <table id="tabla" class="table table-striped table-hover table-bordered">
                    <tr>
                        <th style="background-color:lightgray" onclick="sortTable(0)">Alumno &#8597;</th>
                        <th style="background-color:lightgray" onclick="sortTable(1)">Curso &#8597;</th>
                        <th style="background-color:lightgray" onclick="sortTable(2)">Teléfono &#8597;</th>
                        <th style="background-color:lightgray" onclick="sortTable(3)">Fecha inicio cursado &#8597;</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Apellido  @item.Nombre</td>
                            <td>@item.Direccion</td>
                            <td>@item.Telefono</td>
                            <td>@item.FechaNac.ToString("dd/MM/yyyy")</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:30px">No se registran inscripciones actualmente</label>
            }
    </div>

    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("tabla");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc";
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.getElementsByTagName("TR");
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1) ; i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
