﻿@model IEnumerable<Proyecto_1.Models.LineaVentas>

@{ 
    ViewBag.Title = "Detalle de la venta";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery-ui-1.12.1.custom/jquery-1.2.3.min.js"></script>

</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    <h4 style="margin-top:15px; margin-bottom:15px; margin-left:6px">Resumen de la venta</h4>
    <hr />

    <h4 style="margin-left:3px; color:black">Fecha: <b style="color:forestgreen; text-transform:uppercase"> @ViewBag.Fecha </b>  </h4>
    

    <div>
        <table  class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio por unidad</th>
                <th>Subtotal</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Cantidad</td>
                    <td>$@item.Precio</td>
                    <td>$@item.SubTotal</td>
                </tr>
            }
            <tr>
                <td style="font-weight:bold" colspan="3">TOTAL</td>
                <td style="font-weight:bold">$@ViewBag.Total</td>
            </tr>

        </table>
        <div class="inline">
            <input type="button" value="Volver" class="btn btn-warning" onclick="location.href='@Url.Action("Ventas", "Ventas")'" />
        </div>
    </div>
</div>


