﻿@model Proyecto_1.ViewModels.VentaGeneral

@{
    ViewBag.Title = "Editar Venta";
}

<head>
    <style>
        input[type=search] {
            width: 280px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("busqueda");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
</head>


<div class="container-fluid" style="padding: 0% 5% 5% 5%">
    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <h4 style="margin-top:15px; margin-bottom:-6px; margin-left:10px">Editar venta</h4>
    <hr style="margin-left:10px" />

    <div class="inline" style="margin-bottom:20px">
        <form method="post" action="@Url.Action("CrearVenta2","Ventas")" style="margin-left:-2px">
            <input type="search" id="busqueda" name="cadena" onkeyup="myFunction()" placeholder="Buscar producto.." />
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </form>
    </div>

    @if (Model.l_Producto.Any())
    {
        <h4 style="margin-top:15px; margin-bottom:20px; margin-left:6px">Productos</h4>
        <table id="myTable" class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th style="background-color:lightgray">Nombre</th>
                <th style="background-color:lightgray">Cantidad</th>
                <th style="background-color:lightgray">Precio de venta</th>
                <th style="background-color:lightgray">Stock</th>
                <th style="background-color:lightgray">Agregar</th>
            </tr>
            @foreach (var item in Model.l_Producto)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>
                        <input type="text" id="cantidad @item.idProducto" style="width: 100px; height:30px; padding: 2px" name="precio" />
                    </td>
                    <td>
                        <input type="text" id="precio @item.idProducto" value="@item.Precio" style="width: 100px; height:30px; padding: 2px" name="precio" />
                    </td>
                    <td id="stock @item.idProducto">@item.Stock</td>
                    <td>
                        <input type="button" value="Agregar" id="@item.idProducto agregar" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="Agregar(@item.idProducto,'@Url.Action("AgregarLinea", "Ventas", new { idproducto = item.idProducto, nombre = item.Nombre, cantidad = "param-cantidad", precio = "param-precio", stock = item.Stock })')" />
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:45px">@ViewBag.mensajeInicio</label>
    }

    @if ( Model!= null && Model.l_LineaVenta.Any())
    {
        <h4 style="margin-top:15px; margin-bottom:20px; margin-left:6px">Resumen de la venta</h4>

        <table class="table table-striped table-hover table-bordered">
            <tr>
                @* <th style="background-color:lightgray">Codigo</th>*@
                <th style="background-color:lightgray">Producto</th>
                <th style="background-color:lightgray">Precio unitario</th>
                <th style="background-color:lightgray">Cantidad</th>
                <th style="background-color:lightgray">Subtotal</th>
                <th style="background-color:lightgray">Quitar linea</th>
            </tr>
            @foreach (var item in Model.l_LineaVenta)
            {
                <tr>
                    @* <td>@item.idProducto</td>*@
                    <td>@item.Nombre</td>
                    <td>@item.Precio</td>
                    <td id="cantidad">@item.Cantidad</td>
                    <td>@item.SubTotal</td>
                    <td>
                        <input type="button" value="Quitar" id="@item.idProducto quitar" style="padding:5px 10px; font-size:small" class="btn btn-warning" onclick="location.href='@Url.Action("RestarLinea", "Ventas", new { nombre = item.Nombre, idProd = item.idProducto, precio = item.Precio, cantidad= item.Cantidad })'" />
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4" style="font-weight:bold">Total</td>
                <td colspan="1 " style="font-weight:bold">$@ViewBag.Total</td>
            </tr>
        </table>

        <form method="post" class="form-horizontal" style="margin-left:15px; margin-top:1px" action="@Url.Action("EditVenta", "Ventas")">
            <div class="form-group">
                <label class="control-label">¿Quién lo edita?</label>
                <div>
                    <input type="text" id="usuario" style="max-width:175px" class="form-control" name="usuario" required pattern="[A-Za-z]{3,20}" />
                </div>

            </div>

            <div class="inline">
                <input type="submit" value="Aceptar" class="btn btn-primary" />
                <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Ventas", "Ventas")'" />
            </div>

        </form>
    }

</div>

<script type="text/javascript">
    function Agregar(id, dire) {
        var nombre = 'cantidad' + ' ' + id;
        var nombre2 = 'precio' + ' ' + id;
        var cant = document.getElementById(nombre).value;
        var prec = document.getElementById(nombre2).value;
        var isValid = /^[0-9,.]*$/.test(prec);
        var isValidCant = /^[0-9]*$/.test(cant);

        if (!isValidCant || cant == '') {
            document.getElementById(nombre).focus();
            document.getElementById(nombre).setCustomValidity("Ingrese la cantidad correctamente");
            return false;
        }

        if (!isValid || prec == '') {
            document.getElementById(nombre2).focus();
            document.getElementById(nombre2).setCustomValidity("Ingrese el precio correctamente");
            return false;
        }

        location.href = dire.replace("param-cantidad", cant).replace("param-precio", prec);
    }
</script>