﻿@{
    ViewBag.Title = "Nuevo Gasto";
}

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('input[name="fecha"]').daterangepicker(
                {
                    singleDatePicker: true,
                    showDropdowns: true,
                    //autoUpdateInput: false,
                    locale: {
                        format: 'DD/MM/YYYY',
                        "separator": "-",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "Desde",
                        "toLabel": "Hasta",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sab"
                        ],
                        "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                        ],
                        "firstDay": 1
                    },
                    startDate: new Date,
                    endDate: new Date
                });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <form method="post" action="@Url.Action("NuevoIngresoLibre","Ventas")">
        <fieldset style="max-width:400px; padding:0% 5% 5% 5% ">
            <legend>Nuevo ingreso libre</legend>
            <label style="font-size:small">(*) Campos obligatorios</label>
            <div class="form-group">
                <label for="descripcion" class="control-label">Concepto (*)</label>
                <div>
                    <input type="text" autofocus name="descripcion" class="form-control" id="descripcion" required>
                </div>
            </div>

            <div class="form-group">
                <label for="monto" class="control-label">Monto (*)</label>
                <div>
                    <input type="text" name="monto" class="form-control" id="monto" required pattern="[0-9]{0,5}" title="Ingrese solo numeros enteros" />
                </div>
            </div>

            <div class="form-group">
                <label for="fecha" class="control-label">Fecha (*)</label>
                <div>
                    <input type="text" name="fecha" class="form-control" id="fecha" />
                </div>
            </div>


            <div class="form-group">
                <label for="usuario" class="control-label">¿Quién recibe el ingreso? (*)</label>
                <div>
                    <input type="text" name="usuario" class="form-control" id="usuario" required />
                </div>
            </div>

            <div class="inline">
                <input type="submit" value="Aceptar" class="btn btn-primary" />
                <input type="button" value="cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Caja","Gastos")'" />
            </div>
        </fieldset>
    </form>

</div>
