﻿@model IEnumerable<Proyecto_1.Models.Ventas>

@{
    ViewBag.Title = "Ventas";
}
<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            $('input[name="fecha"]').daterangepicker(
                 {
                     autoUpdateInput: false,
                     opens: 'right',
                     drops: 'down',
                     autoApply: true,
                     //singleDatePicker: true,
                     //showDropdowns: true,
                     locale: {

                         format: 'DD/MM/YYYY',
                         "separator": "-",
                         "applyLabel": "Apply",
                         "cancelLabel": "Cancel",
                         "fromLabel": "Desde",
                         "toLabel": "Hasta",
                         "customRangeLabel": "Custom",
                         "weekLabel": "W",
                         "daysOfWeek": [
                         "Dom",
                         "Lun",
                         "Mar",
                         "Mie",
                         "Jue",
                         "Vie",
                         "Sab"
                         ],
                         "monthNames": [
                         "Enero",
                         "Febrero",
                         "Marzo",
                         "Abril",
                         "Mayo",
                         "Junio",
                         "Julio",
                         "Agosto",
                         "Septiembre",
                         "Octubre",
                         "Noviembre",
                         "Diciembre"
                         ],
                         "firstDay": 1
                     },
                     //startDate: new Date,
                     // endDate: new Date
                 });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }
    <div class="row" style="margin-left:5px">
        <fieldset>
            <legend style="margin-bottom:11px">Ventas de bazar</legend>
            <div class="form-inline">
                <div class="form-group">
                    <form action='@Url.Action("BuscarVenta","Ventas")' style="margin-left:-2px">
                        <label class="control-label" for="fecha">Buscar entre fechas:</label><br />
                        <input type="text" class="form-control" placeholder="Desde   |   Hasta" name="fecha" style="max-width:250px; margin-right:5px; width:200px" required title="seleccionar rango de fechas" />
                        <input type="submit" value="Enviar" class="btn btn-primary" />
                    </form>
                </div>
                <input type="button" value="Nueva Venta" class="btn btn-primary" style="float:right; margin-top:18px; margin-bottom:10px" onclick="location.href='@Url.Action("CrearVenta", "Ventas", new { control=0})'">
            </div>
        </fieldset>
    </div>
    <h4 style="margin-top:10px; margin-bottom:10px; margin-left:6px">@ViewBag.mensajeFecha</h4>

    @if (Model.Any())
    {
        <table class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th>Fecha</th>
                <th>¿Quién lo vendió?</th>
                <th>Total de la venta</th>
                <th>Detalle</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FechaVenta.ToString("dd/MM/yyyy")</td>
                    <td>@item.Usuario</td>
                    <td>$@item.Total</td>
                    <td>
                        <input type="button" value="Ver detalle" style="padding:5px 10px; font-size:small" font-size:small" class="btn btn-primary" onclick="location.href='@Url.Action("DetalleVenta", "Ventas", new { id = item.idVenta, fecha = item.FechaVenta })'">
                        <input type="button" value="Editar" class="btn btn-warning" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("EditarVenta", "Ventas", new { idVenta = @item.idVenta })'" />
                        <input type="button" value="Borrar" class="btn btn-danger" style="padding:5px 10px; font-size:small" onclick="return confirmar('@Url.Action("BorrarVenta", "Ventas", new { idVenta = @item.idVenta })')" />
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:45px">@ViewBag.mensajeInicio</label>
    }
</div>

<script>
    function confirmar(url) {
        swal({
            title: '¿Desea borrar esta venta?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Si, Borrar!',
            closeOnConfirm: true,
            cancelButtonText: 'Cancelar',
        },
function (isConfirm) {
    if (isConfirm) {
        location.href = url
    }
    else { return false; }
});
    }
</script>



