﻿@model IEnumerable<Proyecto_1.Models.Alumno>

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">

    <style>
        input[type=search] {
            width: 350px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 8px 8px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
            /*-webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;*/
        }
        /*input[type=text]:focus {
                width: 100%;
            }*/
    </style>
</head>

<div id="pageintro" class="hoc clear">
    <div class="alert alert-success" role="alert">
        <strong style="color:green">@ViewBag.mensajeExito</strong>
    </div>
    <div class="alert alert-warning" role="alert">
        <strong style="color:orangered">@ViewBag.mensajeError</strong>
    </div>

    <h4 style="margin-top:15px; margin-bottom:-6px; margin-left:6px; color:white">Listado de alumnos</h4>
    @if (Model.Any())
    {
        <table class="responstable">
            <tr>
                <th>ALumnos</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>E-Mail</th>
                <th>DNI</th>
                
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Apellido  @item.Nombre</td>
                    <td>@item.Direccion</td>
                    <td>@item.Telefono</td>
                    <td>@item.Mail</td>
                    <td>@item.Dni</td>
                </tr>
            }
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-top:8px">
                <input type="button" value="Volver" class="btn btnBorrar" onclick="location.href='@Url.Action("Curso", "Cursos")'" />
            </div>
        </div>
    }
    else
    {
        <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:45px">No hay alumnos que no hayan tomado este curso</label>
    }
</div>
