﻿@model Proyecto_1.Models.Cursos
@{
    ViewBag.Title = "Crear Curso";
}

<div class="container-fluid" style="padding: 0% 5% 5% 5%">
    <form class="form-horizontal" method="post" action="@Url.Action("AgregarCurso","Cursos")">
        <fieldset style="padding:0% 5% 5% 5% ">
            <legend>Nuevo Curso</legend>
            <label style="font-size:small">(*) Campos obligatorios</label>
            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre (*)</label>
                <div>
                    <input autofocus type="text" style="max-width:500px" name="Nombre" class="form-control" id="Nombre" required>
                </div>
            </div>

            <div class="form-group">
                <label for="Descripcion" class="control-label">Descripción (*)</label>
                <div>
                    <textarea name="Descripcion" required style="max-width:500px" class="form-control" rows="8" id="Descripcion"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="Costo" class="control-label">Costo (*)</label>
                <div>
                    <input type="text" name="Costo" style="max-width:500px" class="form-control" id="Costo" title="Ingrese solo números" required pattern="[0-9]{0,5}" >
                </div>
            </div>

            <div class="form-group">
                <div style="margin-top:8px">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Curso", "Cursos")'" />
                </div>
            </div>
        </fieldset>
    </form>
</div>

