﻿@model Proyecto_1.Models.Alumno

@{
    ViewBag.Title = "Crear Alumno";
}
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('input[name="fecha"]').daterangepicker(
                {
                    singleDatePicker: true,
                    showDropdowns: true,
                    autoUpdateInput: false,
                    locale: {
                        format: 'DD/MM/YYYY',
                        "separator": "-",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "Desde",
                        "toLabel": "Hasta",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sab"
                        ],
                        "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                        ],
                        "firstDay": 1
                    },
                    startDate: new Date,
                    endDate: new Date
                });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>

    <script>
        function myFunction()
        {
            if (document.getElementById('Dni').value == '')
            {
                document.getElementById('Dni').value = 1111111;
            }
        }
    </script>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert" style="margin-bottom:5px">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-danger" role="alert" style="margin-bottom:5px">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <form class="form-horizontal" method="post" action="@Url.Action("InscribirAlumnoRecienCreadoPaso2","Cursos", new { control= ViewBag.control})">
        <fieldset style="max-width:400px; padding:0% 5% 5% 5% ">
            <legend>Nuevo Alumno</legend>
            <label style="font-size:small">(*) Campos obligatorios</label>

            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre: (*)</label>
                <div>
                    <input autofocus type="text" name="Nombre" class="form-control" id="Nombre" required pattern="[A-Za-z]{2-50}" title="Solo letras">
                </div>
            </div>
            <div class="form-group">
                <label for="Apellido" class="control-label">Apellido: (*)</label>
                <div>
                    <input type="text" name="Apellido" class="form-control" id="Apellido" required pattern="[A-Za-z]{2-50}" title="Solo letras">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Género:</label>
                <div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="Sexo" id="optionsRadios1" value="Mujer" checked="">
                            Mujer
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="Sexo" id="optionsRadios2" value="Varon">
                            Varon
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Telefono" class="control-label">Teléfono: (*)</label>
                <div>
                    <input type="text" name="Telefono" class="form-control" id="Telefono" required>
                </div>
            </div>

            <div class="form-group">
                <label for="Telefono2" class="control-label">Teléfono 2:</label>
                <div>
                    <input type="text" name="Telefono2" class="form-control" id="Telefono2">
                </div>
            </div>

            <div class="form-group">
                <label for="Dni" class="control-label">DNI:</label>
                <div>
                    <input type="text" pattern="[0-9]{7,8}" name="Dni" class="form-control" id="Dni" title="Solo numeros sin puntos">
                </div>
            </div>

            <div class="form-group">
                <label for="Direccion" class="control-label">Dirección:</label>
                <div>
                    <input type="text" name="Direccion" class="form-control" id="Direccion">
                </div>
            </div>

            <div class="form-group">
                <label for="fecha" class="control-label">Fecha de Nacimiento:</label>
                <div>
                    <input type="text" name="fecha" class="form-control" id="fecha" placeholder="dd/mm/yyyy">
                </div>
            </div>

            <div class="form-group">
                <label for="Mail" class="control-label">Mail:</label>
                <div>
                    <input type="email" name="Mail" class="form-control" id="Mail">
                </div>
            </div>

            @*<div class="form-group">
                <label for="Usuario" class="control-label">¿Quién lo inscribe? (*)</label>
                <div>
                    <input type="text" name="Usuario" class="form-control" id="Usuario" required title="Debe registrar quien lo guardo">
                </div>
            </div>*@

            <div class="form-group">
                <div style="margin-top:8px">
                    <input type="submit" value="Agregar" class="btn btn-primary" @*onclick="myFunction()"*@ />
                    <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("InscribirAlumnoPaso1_2", "Cursos")'" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
