﻿@model IEnumerable<Proyecto_1.Models.Cursos>

@{
    ViewBag.Title = "Cursos";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">

    <style>
        input[type=search] {
            width: 280px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("busqueda");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</head>
<div class="container-fluid" style="padding: 0% 5% 5% 5%">


    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert" style="margin-bottom:5px">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-danger" role="alert" style="margin-bottom:5px">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }
    <fieldset>
        <legend style="margin-bottom:10px">Cursos</legend>
    </fieldset>

    <div class="inline">
        <form method="post" action='@Url.Action("BuscarCurso", "Cursos")' style="margin-left:-2px">
            <input type="search" id="busqueda" name="cadena" placeholder="Buscar..." onkeyup="myFunction()" />
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <input type="button" value="Nuevo Curso" class="btn btn-primary" style="float:right; margin-bottom:20px" onclick="location.href='@Url.Action("CrearCurso", "Cursos")'">
        </form>
    </div>

    @if (Model.Any())
    {
        <h4 style="margin-top:15px; margin-bottom:15px; margin-left:6px">Listado de cursos</h4>
        <table id="myTable" class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th onclick="sortTable(0)">Nombre &#8597;</th>
                <th>Descripción</th>
                <th onclick="sortTable(2)">Costo &#8597;</th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Nombre</td>
                <td style="max-width:600px; min-width:200px">@item.Descripcion</td>
                <td>$@item.Costo</td>
                <td style="min-width:290px">
                    <div class="inline">
                        <input type="button" value="Editar" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("EditCurso", "Cursos", new { id = item.idCurso, nombre = item.Nombre })'" />
                        <input type="button" value="Borrar" class="btn btn-danger" id="btnBorrar" style="padding:5px 8px; font-size:small" onclick="return confirmar('@Url.Action("DeleteCurso", "Cursos", new { id = item.idCurso })')" />
                        <input type="button" value="Turnos" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("Turno", "Turnos", new { id = item.idCurso, Nombre = item.Nombre })'" />
                        <input type="button" value="Inscribir" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("InscribirAlumnoPaso1", "Cursos", new { id = item.idCurso, Nombre = item.Nombre, control = 1, idTurno = 0, nombreTurno = "a" })'" />
                        @*<input type="button" value="Agregar Interesado N" class="btn" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("NuevoInteresado", "Interesados", new {idcurso= item.idCurso, nombrecurso= item.Nombre})'" />
                <input type="button" value="Posibles Interesdos" class="btn" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("InteresadosDeCurso", "Interesados", new {idcurso= item.idCurso, nombre= item.Nombre})'" />
                <input type="button" value="Alumnos potenciales" class="btn" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("AlumnosPotenciales", "Cursos", new {idcurso= item.idCurso})'" />*@
                    </div>
                </td>
            </tr>
            }
        </table>
    }
    else
    {
        <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:30px">No hay cursos creados actualmente</label>
    }

</div>

<script>
    function confirmar(url) {
        swal({
            title: '¿Borar este registro?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Si, Borrar!',
            closeOnConfirm: false,
            cancelButtonText: 'Cancelar',
        },
            function (isConfirm) {
                if (isConfirm) {
                    location.href = url
                }
                else { return false; }
            });
    }
</script>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>