﻿@model Proyecto_1.Models.Cursos

@{
    ViewBag.Title = "Editar curso";
}

<div class="container-fluid"  style="padding: 0% 5% 5% 5%">

    @using (Html.BeginForm("Edit", "Cursos"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <h4>Editar curso</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" hidden="hidden">
                @Html.LabelFor(model => model.idCurso,  new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.idCurso, @*new { htmlAttributes =*@ new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idCurso, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, @*htmlAttributes:*@ new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Nombre,  new { @class = "form-control", @style = "max-width:500px", @autofocus = "autofocus", required = "required" })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @style= "max-width:500px", @rows="8", required = "required" })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Costo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Costo, new { @class = "form-control", @style = "max-width:500px", required = "required" } )
                    @Html.ValidationMessageFor(model => model.Costo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Curso", "Cursos")'" />
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
