﻿@model IEnumerable<Proyecto_1.Models.Alumno>
@{
    ViewBag.Title = "Inscripcion";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">

    <style>
        input[type=search] {
            width: 280px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">
    <h4 style="margin-left:1px; margin-bottom:15px; color:black">Inscribir alumno en el curso: <b style="color:forestgreen; text-transform:uppercase">@ViewBag.nombre</b></h4>

    <div class="inline">
        <form method="post" action="@Url.Action("BuscarAlumnoParaInscripcion","Cursos")" style="margin-left:-2px">
            <input type="search" id="busqueda" name="cadena" placeholder="Buscar alumno.." />
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <input type="button" value="Nuevo Alumno" class="btn btn-primary" style="float:right; margin-top:12px" onclick="location.href='@Url.Action("CrearAlumnoParaInscripcion", "Cursos", new {control = ViewBag.control })'" />
        </form>
    </div>

    @if (Model.Any())
    {
        <h4 style="margin-top:15px; margin-bottom:15px; margin-left:5px; font-size:20px">Seleccionar Alumno</h4>

        <table class="table table-striped table-hover table-bordered" id="myTable">
            <tr style="background-color:cadetblue">
                <th onclick="sortTable(0)">Apellido  &#8597;</th>
                <th onclick="sortTable(1)">Nombre  &#8597;</th>
                <th>DNI</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Apellido</td>
                    <td>@item.Nombre</td>
                    @if (item.Dni == 1111111)
                    {
                        <td>-</td>
                        <td>@item.Telefono</td>
                    }

                    else
                    {
                        <td>@item.Dni</td>
                        <td>@item.Telefono</td>
                    }
                    <td>
                        <div class="inline">
                            <input type="button" value="Inscribir" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("InscribirAlumnoPaso2", "Cursos", new { idAlumno = item.idAlumno, nombreAlumno = item.Nombre, apellidoAlumno = item.Apellido })'" />
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:35px">No hay alumnos registrados actualmente</label>
    }

</div>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>