﻿@model IEnumerable<Proyecto_1.Models.Turnos>
@{
    ViewBag.Title = "Inscripcion";
}
<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert alert-success" role="alert">
            <strong style="color:green; margin-left: 100px">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert alert-warning" role="alert">
            <strong style="color:orangered; margin-left: 100px">@ViewBag.mensajeError</strong>
        </div>
    }
    <h4 style="margin-left:45px; color:black">Inscribir alumno <b style="color:forestgreen; text-transform:uppercase"> @ViewBag.nombreA @ViewBag.apellidoA </b> en el curso <b style="color:forestgreen; text-transform:uppercase"> "@ViewBag.nombreC" </b> </h4>

    <hr style="max-width:900px; min-width:100px; margin-left:45px" />

    <form class="form-horizontal" id="form" method="post" action="@Url.Action("Inscripcion","Cursos")">
        <fieldset style="max-width:400px; padding:0% 5% 5% 5% ">
            <label style="font-size:small; margin-bottom:10px">(*) Campos obligatorios</label>
            <div class="form-group">
                <select class="form-control" required name="idTurno" oninvalid="this.setCustomValidity('Debe seleccionar un turno')" oninput="setCustomValidity('')">
                    @if (ViewBag.control == 1)
                    {
                        <option value="" disabled selected>Seleccionar turno</option>
                        foreach (var item in Model)
                        {
                            <option value="@item.idTurno"> @item.Dia @item.Inicio a @item.Fin</option>
                        }
                    }
                    else
                    {
                        <option value="@ViewBag.idTurno" selected>@ViewBag.nombreTurno</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="Monto" class="control-label">Monto/seña (*)</label>
                <div>
                    <input autofocus type="text" name="monto" class="form-control" id="monto" required pattern="[0-9]{0,5}" title="Solo numeros sin $">
                </div>
            </div>

            <div class="form-group" id="control" style="display:none">
                <label for="control2" class="control-label">¿Por qué inscribe sin seña?</label>
                <div>
                    <textarea name="control2" class="form-control" rows="5" id="control2" required placeholder="Debe dar una razon si inscribe sin seña"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="Usuario" class="control-label">¿Quién lo inscribe? (*)</label>
                <div>
                    @if (ViewBag.usuario != null)
                    {
                        <input type="text" name="usuario" class="form-control" value="@ViewBag.usuario" id="Usuario" required title="Usuario que inscribe">
                    }
                    else
                    {
                        <input type="text" name="usuario" class="form-control" id="Usuario" required title="Usuario que inscribe">
                    }

                </div>
            </div>

            <div class="form-group">
                <div style="margin-top:3px">
                    <input type="submit" id="submit" value="Agregar" onclick="funcion()" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("InscribirAlumnoPaso1_2", "Cursos")'" />
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    function funcion() {

        if (document.getElementById('monto').value == 0) {
            document.getElementById('control').style.display = '';
            return false;
        }

        if (document.getElementById('control2').value == '' && document.getElementById('monto').value == 0) {
            document.getElementById('control2').style.display.setCustomValidity('debe dar una razon');
            return false;
        }

        if (document.getElementById('control2').value == '' || document.getElementById('control2').value == null)
        {
            document.getElementById('control2').value = "-";
            return false;
        }
    }
</script>