﻿@model Proyecto_1.Models.Recetas

@{
    ViewBag.Title = "Crear receta";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert" style="margin-left:100px">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert" style="margin-left:100px">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    @if (ViewBag.mensajeErrorRepetido != null)
    {
        <div class="alert-warning" role="alert" style="margin-left:100px">
            <strong style="color:orangered">@ViewBag.mensajeErrorRepetido</strong>
        </div>
    }

    <form method="post" class="form-horizontal" action="@Url.Action("AgregarReceta2","Recetas")">
        <fieldset style="padding:0% 5% 5% 5% ">
            <legend>Crear receta</legend>
            <label style="font-size:small">(*) Campos obligatorios</label>
            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre (*)</label>
                <div>
                    <input autofocus type="text" name="Nombre" style="max-width:500px" class="form-control" id="Nombre" required>
                </div>
            </div>
            <div class="form-group">
                <label for="Ingredientes" class="control-label">Ingredientes (*)</label>
                <div>
                    <textarea name="Ingredientes" class="form-control" style="max-width:500px" rows="8" id="Ingredientes" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="Preparacion" class="control-label">Preparación (*)</label>
                <div>
                    <textarea name="Preparacion" class="form-control" style="max-width:500px"  rows="8" id="Preparacion" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="Tips" class="control-label">Tips</label>
                <div>
                    <textarea name="Tips" class="form-control" style="max-width:500px"  rows="5" id="Tips"></textarea>
                </div>
            </div>

            <input type="submit" value="Guardar" class="btn btn-primary" />
            <input type="button" value="Volver" class="btn btn-warning" onclick="location.href='@Url.Action("Receta2","Recetas")'" />
        </fieldset>

    </form>

    </div>
