﻿@model Proyecto_1.Models.Recetas

@{
    ViewBag.Title = "Crear receta";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert" style="margin-left:100px">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert" style="margin-left:100px">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }
  
    @if (ViewBag.mensajeErrorRepetido != null)
    {
        <div class="alert-warning" role="alert" style="margin-left:100px">
            <strong style="color:orangered">@ViewBag.mensajeErrorRepetido</strong>
        </div>
    }
    
    <form method="post" class="form-horizontal" action="@Url.Action("AgregarReceta","Recetas")">
        <fieldset style="max-width:400px; padding:0% 5% 5% 5% ">
            <legend>Crear receta</legend>
            <label style="font-size:small">(*) Campos obligatorios</label>
            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre</label>
                <div>
                    <input autofocus type="text" name="Nombre" class="form-control" id="Nombre">
                </div>
            </div>

            <div class="form-group">
                <label for="Preparacion" class="control-label">Preparación</label>
                <div>
                    <textarea name="Preparacion" class="form-control" rows="8" id="Preparacion"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label">Ingredientes</label>
                <div>
                    <select required name="idProducto" class="form-control" style="max-width:320px">
                        @foreach (var item in (ViewBag.listaProd))
                        {
                            <option required value="@item.idProducto">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>

            <div class="inline"  text-align: justify">
                <label class="control-label">Cantidad:</label>
                <input type="text" name="cantidad" value="0" class="form-control" required style="max-width:90px; margin-right:10px; margin-bottom:7px">
                <select name="unidad" class="form-control"  style="max-width:115px; display: table-column; margin-right:10px">
                    <option value="" disabled selected hidden>Seleccionar Unidad</option>
                    <option selected value="gramos">Gramos</option>
                    <option value="unidades">Unidad</option>
                    <option value="cm3">Cm3</option>
                </select>
            </div>

            <div class="inline" style="margin-top:10px; margin-bottom:10px">
                <input type="submit" value="Agregar" class="btn btn-primary" onclick="location.href='@Url.Action("AgregarReceta", "Recetas")'" />
                <input type="button" value="Terminar" class="btn btn-success" onclick="location.href='@Url.Action("Receta", "Recetas")'" />
                <input type="button" value="Volver"    class="btn btn-warning" onclick="location.href='@Url.Action("Receta","Recetas")'" />
            </div>

            @if (ViewBag.listaIngredientes != null && ViewBag.mensajeErrorRepetido == null)
            {
                <table class="table table-striped table-hover table-bordered">
                    <tr style="background-color:cadetblue">
                        <th>Insumo</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>

                    @foreach (var item in (ViewBag.listaIngredientes))
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.Precio @item.Unidad</td>
                            <td>
                                <input type="button" value="QUITAR" class="btn btn-warning" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("QuitarIngrediente", "Recetas", new {idProducto = item.idProducto })'" />
                            </td>
                        </tr>
                    }
                </table>
            }
        </fieldset>
    </form>

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
