﻿@model Proyecto_1.Models.Recetas

@{
    ViewBag.Title = "Editar receta";
}

<div class="container-fluid" style="padding: 0% 5% 5% 5%">
    @using (Html.BeginForm("EditarReceta2", "Recetas"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @if (ViewBag.mensajeError != null)
            {
                <div class="alert-warning" role="alert">
                    <strong style="color:orangered">@ViewBag.mensajeError</strong>
                </div>
            }
            <h4>Editar receta</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" hidden="hidden">
                @Html.LabelFor(model => model.idReceta, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.idReceta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.idReceta, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Nombre (*):</label>
               @* @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @style = "max-width:500px", @autofocus = "autofocus", required="required" })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ingredientes (*):</label>
               @* @Html.LabelFor(model => model.Ingredientes, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Ingredientes, new { @class = "form-control", @style = "max-width:500px", @rows = "7", required = "required" })
                    @Html.ValidationMessageFor(model => model.Ingredientes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Preparación (*):</label>
               @* @Html.LabelFor(model => model.Preparacion, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Preparacion, new { @class = "form-control", @style = "max-width:500px", @rows = "7", required = "required" })
                    @Html.ValidationMessageFor(model => model.Preparacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Tips:</label>
               @* @Html.LabelFor(model => model.Tips, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Tips, new { @class = "form-control", @style = "max-width:500px", @rows = "3" })
                    @Html.ValidationMessageFor(model => model.Tips, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Receta2","Recetas")'" />
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
