﻿@model Proyecto_1.Models.Recetas

<head>
    <link href="~/Content/estilos.css" rel="stylesheet" />

    <script type="text/javascript">
        function miFuncion() {
            window.print();
        };
    </script>
</head>

<body onload="miFuncion()">
    
    <div id="imprimime" class="container-fluid" style="padding: 10% 10% 10% 10%; align-content:center">
        <table>
            <tr  height="150"  style="text-align:center; font-size:xx-large; font-family:Arial; font-weight:bold; margin-bottom:50px">
                <td style="margin-bottom:50px">@Model.Nombre</td>
            </tr>
            </table>
        <table>
            <tr>
                <td>Ingredientes</td>
                <td style="text-align:left; width:500px">@Model.Ingredientes</td>
                <td style="margin-left:5px">@Model.Preparacion</td>
            </tr>
        </table>
    </div>

</body>

<input type="button" value="imprimir" onclick="miFuncion()" />
