﻿
<head>
    <link href="~/Content/estilos.css" rel="stylesheet" />

    <script type="text/javascript">
        function miFuncion() {
            window.print();
        };
    </script>
</head>


<body onload="miFuncion()">
    <div id="imprimime">
        <div class="inline" style="margin-bottom:10px">
            <h1 style="margin-bottom:5px; margin-left:100px; float:left; font-size:xx-large; font-weight:bold">@ViewBag.nombre</h1>
            <img style="float:right; margin-right:250px; width:150px; height:150px" src="~/Content/images/descargadas/icono.jpg" />
        </div>
        <br />

        <div style="margin-left:50px; margin-right:50px">
            <hr align="center" style="width:1000px; margin-left:100px; height:20px; background-color:black" />
        </div>


        <div class="three-columns" style="margin-left:175px; margin-right:100px">
            <p>
                <h3 style="font-size:xx-large; text-align:center; font-weight:bold">INGREDIENTES</h3>
                <ul style="text-align:center">
                    @foreach (var item in (ViewBag.listaIngredientes))
                    {
                        <li style="list-style:none; font-size:x-large">@item.Nombre    @item.Precio    @item.Unidad</li>
                    }
                </ul>
            </p>
            <br />
            <h3 align="center" style="font-size:xx-large; font-weight:bold">PREPARACION</h3>
            <p style="font-size:x-large">
                @ViewBag.preparacion
            </p>
        </div>
    </div>
    
</body>

<input  type="button" value="imprimir" onclick="miFuncion()"/>


@*<script type="text/javascript">
   function miFuncion(){
        window.print();
    };

</script>*@
    
            


               
            

           
               
            
       

    





   


</div>






