﻿@model Proyecto_1.Models.Recetas

@{
    ViewBag.Title = "";
}
<head>
    <script type="text/javascript">
        function miFuncion() {
            document.getElementById("input1").style.border = 'none';
            document.getElementById("input2").style.border = 'none';
            document.getElementById("input3").style.border = 'none';

            var observe;
            if (window.attachEvent) {
                observe = function (element, event, handler) {
                    element.attachEvent('on' + event, handler);
                };
            }
            else {
                observe = function (element, event, handler) {
                    element.addEventListener(event, handler, false);
                };
            }

            function delayedResize() {
                window.setTimeout(resize, 0);
            }

            //para el primer input...
            var text = document.getElementById('input1');
            function resize() {
                text.style.height = 'auto';
                text.style.height = text.scrollHeight + 'px';
            }
          
            observe(text, 'change', resize);
            observe(text, 'cut', delayedResize);
            observe(text, 'paste', delayedResize);
            observe(text, 'drop', delayedResize);
            observe(text, 'keydown', delayedResize);
            resize();

            //para el segundo input...
            var text2 = document.getElementById('input2');
            function resize2() {
                text2.style.height = 'auto';
                text2.style.height = text2.scrollHeight + 'px';
            }

            observe(text2, 'change', resize);
            observe(text2, 'cut', delayedResize);
            observe(text2, 'paste', delayedResize);
            observe(text2, 'drop', delayedResize);
            observe(text2, 'keydown', delayedResize);
            resize2();

            //para el tercer input...
            var text3 = document.getElementById('input3');
            function resize3() {
                text3.style.height = 'auto';
                text3.style.height = text3.scrollHeight + 'px';
            }
            
            observe(text3, 'change', resize);
            observe(text3, 'cut', delayedResize);
            observe(text3, 'paste', delayedResize);
            observe(text3, 'drop', delayedResize);
            observe(text3, 'keydown', delayedResize);
            resize3();

            window.print();
            location.href = '@Url.Action("Receta2","Recetas")';
        };
    </script>
</head>
<html>
<body onload="miFuncion()">
    <header style="margin-bottom:0px; margin-top:-10px">
        <img style="position: absolute; top: 0; right: 0; float:right; width:175px; height:175px" src="~/Content/images/descargadas/icono.jpg" />
    </header>

    <div class="container-fluid" style="padding: 0% 5% 5% 5%; margin-top:-50px">
            <div class="form-horizontal">

                <h4>Receta: @Model.Nombre</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" hidden="hidden">
                    @Html.LabelFor(model => model.idReceta, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.idReceta, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.idReceta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="page-break-inside: avoid">
                    <label class="control-label col-md-2">Ingredientes:</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Ingredientes, new { @class = "form-control", @style = "max-width:600px", @rows = "5", required = "required", id = "input1" })
                        @Html.ValidationMessageFor(model => model.Ingredientes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="inputs" style="page-break-inside: avoid">
                    <label class="control-label col-md-2">Preparación:</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Preparacion, new { @class = "form-control", @style = "max-width:600px", @rows = "4", required = "required", id = "input2" })
                        @Html.ValidationMessageFor(model => model.Preparacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (Model.Tips != "")
                {
                    <div class="form-group" id="inputs" style="page-break-inside: avoid">
                        <label class="control-label col-md-2">Tips:</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Tips, new { @class = "form-control", @style = "max-width:600px", @rows = "2", id = "input3" })
                            @Html.ValidationMessageFor(model => model.Tips, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                else
                {
                    <div id="input3"></div>
                }

            </div>
    </div>

</body>
</html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
