﻿@model Proyecto_1.Models.Recetas


@{
    ViewBag.Title = "Recetas";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">

    <style>
        input[type=search] {
            width: 280px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>
</head>


<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert" style="margin-left:98px">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }
   
    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert" style="margin-left:98px">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }
    
    <div class="inline">
        <form method="post" action="@Url.Action("BuscarReceta2","Recetas")" style="margin-left:-2px">
            <input type="search" id="busqueda" name="cadena" placeholder="Buscar receta.." />
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <input type="button" value="Nueva Receta" class="btn btn-primary" style="float:right; margin-top:18px; margin-right:100px; margin-bottom:15px" onclick="location.href='@Url.Action("CrearReceta2", "Recetas")'" />
        </form>
    </div>

    @if (ViewBag.listaReceta != null)
    {
        <table class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th>Nombre</th>
                <th>Detalle</th>
            </tr>
            @foreach (var item in ViewBag.listaReceta)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td><input type="button" class="btn btn-primary" value="Editar" onclick="location.href='@Url.Action("Receta2","Recetas", new {idreceta= item.idReceta})'" /></td>
                </tr>
            }
        </table>
    }


    @if (ViewBag.listaIngredientes != null)
    {
        using (Html.BeginForm("EditarReceta", "Recetas"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" id="form1">
                <h4 style="color:white">Editar receta</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" hidden="hidden">
                    @Html.LabelFor(model => model.idReceta, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.idReceta, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.idReceta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Preparacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Preparacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Preparacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Ingredientes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Ingredientes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ingredientes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tips, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Tips, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tips, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    <label class="control-label col-md-2" style="margin-left:2px">Ingrediente:</label>
                    <div class="col-md-10">
                        <select required name="idProducto" style="margin-bottom:6px; max-width:200px">
                            @foreach (var item in (ViewBag.listaProd))
                             {
                                <option required value="@item.idProducto">@item.Nombre</option>
                            }
                        </select>
                    </div>
                 
                </div>*@
               

                @*<div class="row" style="border: 1px; display: inline-block; width: auto; margin: auto; padding: 40px, 40px; text-align: justify">
                    <label style="margin-left:2px">Cantidad:</label>
                    <input type="text" name="cantidad" value="0" required style="max-width:90px; margin-right:10px; margin-bottom:7px">
                    <select name="unidad" style="max-width:115px; display: table-column; margin-right:10px">
                        <option value="" disabled selected hidden>Seleccionar Unidad</option>
                        <option selected value="gramos">Gramos</option>
                        <option value="unidades">Unidad</option>
                        <option value="cm3">Cm3</option>
                    </select>
                </div>*@
                <input type="submit" value="Agregar" class="btn btn-primary" onclick="location.href='@Url.Action("AgregarReceta", "Recetas")'" />
                <input type="button" value="Terminar" class="btn btn-warning" onclick="location.href='@Url.Action("Receta", "Recetas")'" />
                <input type="button" value="imprimir" class="btn btn-success" onclick="location.href='@Url.Action("Imprimir", "Recetas")'" />

                @*<table class="table table-striped table-hover table-bordered">
                    <tr style="background-color:cadetblue">
                        <th>Insumo</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>

                    @foreach (var item in (ViewBag.listaIngredientes))
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.Precio @item.Unidad</td>
                            <td>
                                <input type="button" value="QUITAR" class="btn btn-danger" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("QuitarIngredienteEnEdicion", "Recetas", new {idProducto = item.idProducto })'" />
                            </td>
                        </tr>
                    }
                </table>*@

                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Guardar" class="btn btn-default" onclick="location.href='@Url.Action("Receta", "Recetas")'" />
                    </div>
                </div>*@
            </div>
        }
    }
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#Receta').on('change', function (event) {
            var opt = this.value.toString();
            location.href = '@Url.Action("Receta2", "Recetas", new { idReceta = "param-id" })'.replace("param-id",opt);
            //$('#form1').show();
        });
    });
</script>

<script>
    function confirmar(url) {
        swal({
            title: '¿Borar este registro?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Si, Borrar!',
            closeOnConfirm: false,
            cancelButtonText: 'Cancelar',
        },
function (isConfirm) {
    if (isConfirm) {
        location.href = url
    }
    else { return false; }

});
    }
</script>

