﻿@model Proyecto_1.Models.Recetas

@{
    ViewBag.Title = "Recetas";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">

    <style>
        input[type=search] {
            width: 250px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("busqueda");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</head>


<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert" style="max-width:250px">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert" style="max-width:300px">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <fieldset>
        <legend style="margin-bottom:10px">Recetas</legend>
    </fieldset>

    <div class="inline">
        <form method="post" action="@Url.Action("BuscarReceta2","Recetas")" style="margin-left:-2px">
            <input type="search" id="busqueda" name="cadena" placeholder="Buscar receta.." onkeyup="myFunction()" />
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <input type="button" value="Nueva Receta" class="btn btn-primary" style="float:right; margin-top:5px; margin-right:5px; margin-bottom:15px" onclick="location.href='@Url.Action("CrearReceta2", "Recetas")'" />
        </form>
    </div>

    @if (Enumerable.Count(ViewBag.listaReceta) > 0)
    {
        <table id="myTable" class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th>Nombre</th>
                <th>Detalle</th>
            </tr>
            @foreach (var item in ViewBag.listaReceta)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>
                        <input type="button" class="btn btn-primary" style="padding:5px 10px; font-size:small" value="Editar" onclick="location.href='@Url.Action("TraerReceta", "Recetas", new { idreceta = item.idReceta })'" />
                        <input type="button" value="Imprimir" style="padding:5px 10px; font-size:small" class="btn btn-warning" onclick="location.href='@Url.Action("Imprimir2", "Recetas", new { idreceta = item.idReceta })'" />
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:35px">No hay recetas creadas actualmente</label>
    }

    @if (Model != null)
    {
        using (Html.BeginForm("EditarReceta2", "Recetas"))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal" id="form1">
                <h4 style="color:white">Editar receta</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" hidden="hidden">
                    @Html.LabelFor(model => model.idReceta, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.idReceta, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.idReceta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Preparacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Preparacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Preparacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Ingredientes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Ingredientes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ingredientes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tips, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Tips, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tips, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="submit" value="Guardar" class="btn btn-success" />
                <input type="button" value="Volver" class="btn btn-warning" onclick="location.href='@Url.Action("Receta2", "Recetas")'" />
            </div>
        }
    }
</div>

