﻿@model IEnumerable<Proyecto_1.Models.Alumno>

@{
    ViewBag.Title = "Alumnos inscriptos";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }
   
    @if (ViewBag.mensajeError != null)
    {
        <div class="alert alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }
   
    <h4 style="margin-top: 15px; margin-bottom:20px; margin-left: 6px; color: black; font-size:medium">Alumnos inscriptos en el turno: <b style="color:forestgreen"> @ViewBag.nombreTurno </b> del curso <b style="color:forestgreen; text-transform:uppercase"> @ViewBag.nombreCurso </b></h4>
    
    <table class="table table-striped table-hover table-bordered">
        <tr style="background-color:cadetblue">
            <th>Alumno</th>
            <th>Acciones</th>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.Apellido  @item.Nombre</td>
                <td>
                    <input type="button" value="Pagos" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("VerDetalle", "Turnos", new {id= item.idAlumno, nombre= item.Nombre, apellido= item.Apellido})'" />
                </td>
            </tr>
        }
    </table>

    <input type="button" value="Volver" class="btn btn-warning" onclick="location.href='@Url.Action("Turno","Turnos", new { id= ViewBag.idCurso, Nombre= ViewBag.nombreCurso})'" />

</div>

