﻿@model IEnumerable<Proyecto_1.Models.Alumno>

@{
    ViewBag.Title = "Asistencias";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <h4 style="margin-top: 15px; margin-bottom: 10px; margin-left: 6px; color: black; font-size:medium">Asistencia de alumnos de la clase: <b style="color:forestgreen">@ViewBag.fecha - @ViewBag.nombreTurno</b> del curso <b style="color:forestgreen; text-transform:uppercase"> @ViewBag.nombreCurso </b></h4>
    @if (ViewBag.control== 1)
    {
        <table class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th>Alumno</th>
                <th>Asistencia</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Apellido @item.Nombre</td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="@item.idAlumno" name="check" value="@item.idAlumno" />
                            </label>
                        </div>

                    </td>
                </tr>
            }
        </table>
        <div class="inline">
            <input type="button" value="Aceptar" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="verificar('check')" />
            <input type="button" value="Cancelar" class="btn btn-warning" id="btnBorrar" style="padding:5px 8px; font-size:small" onclick="location.href='@Url.Action("CrearClases2", "Turnos", new { id = ViewBag.idTurno })'" />
        </div>
    }

    else
    {
        <table id="tabla" class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th>Alumno</th>
                <th>Asistencia</th>
                <th>Estado</th>
              
            </tr>
            @foreach (var item in ViewBag.listaAsistencia)
            {
                <tr>
                    <td>@item.Apellido @item.Nombre</td>
                    
                    @if (item.Mail == "Ausente")
                    {
                        <td>
                            <label>
                                <input type="checkbox" id="@item.idAlumno" name="check" value="@item.idAlumno" />
                            </label>
                        </td>
                        <td style="color:coral">@item.Mail </td>

                    }
                    else
                    {
                        <td>
                            <label>
                                <input type="checkbox" id="@item.idAlumno" checked="checked" name="check" value="@item.idAlumno" />
                            </label>
                        </td>
                        <td>@item.Mail</td>
                      
                    }
                    </tr>
            }
        </table>
        <input type="button" class="btn btn-primary" value="Guardar" style="padding:5px 10px; font-size:small" onclick="verificar('check')"/>
        <input type="button" value="Cancelar" class="btn btn-warning" id="btnBorrar" style="padding:5px 8px; font-size:small" onclick="location.href='@Url.Action("CrearClases2", "Turnos", new { id = ViewBag.idTurno })'" />
        @*<input  type="button" value="Imprimir diplomas" class="btn btn-success" style="padding:5px 8px; font-size:small" onclick="imprimir('check2')" />*@
    }
</div>

<script type="text/javascript">

    function verificar(checkboxName) {
        var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'), values = [];
        Array.prototype.forEach.call(checkboxes, function (el) {
            values.push(el.value);
        });

        location.href = '@Url.Action("Asistencia", "Turnos", new { vector = "param-id" })'.replace("param-id", values);
    }
</script>


