﻿@model IEnumerable<Proyecto_1.ViewModels.Caja>

@{
    ViewBag.Title = "Caja";
}
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>

    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('input[name="fecha"]').daterangepicker(
             {
                 autoUpdateInput: false,
                 opens: 'right',
                 drops: 'down',
                 autoApply: true,
                 //singleDatePicker: true,
                 //showDropdowns: true,
                 locale: {

                     format: 'DD/MM/YYYY',
                     "separator": "-",
                     "applyLabel": "Apply",
                     "cancelLabel": "Cancel",
                     "fromLabel": "Desde",
                     "toLabel": "Hasta",
                     "customRangeLabel": "Custom",
                     "weekLabel": "W",
                     "daysOfWeek": [
                     "Dom",
                     "Lun",
                     "Mar",
                     "Mie",
                     "Jue",
                     "Vie",
                     "Sab"
                     ],
                     "monthNames": [
                     "Enero",
                     "Febrero",
                     "Marzo",
                     "Abril",
                     "Mayo",
                     "Junio",
                     "Julio",
                     "Agosto",
                     "Septiembre",
                     "Octubre",
                     "Noviembre",
                     "Diciembre"
                     ],
                     "firstDay": 1
                 },
                 //startDate: new Date,
                 // endDate: new Date
             });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <div class="row" style="margin-right:5px">
            <ul class="ui-corner-right" style="font-size:medium; list-style-type:square; float:right">
                <li style="color:#ffaf4b">Gastos: $@ViewBag.totalGastos</li>
                <li style="color:cornflowerblue">Ventas bazar: $@ViewBag.TotalVentas </li>
                <li style="color:darkseagreen">Ingresos cursos: $@ViewBag.totalPagos</li>
                <li style="color:darkgreen">Total bruto: $@ViewBag.total</li>
            </ul>

        <fieldset>
            <form action='@Url.Action("Caja2","Turnos")' style="margin-left:0px; margin-bottom:0px">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label" for="fecha">Filtrar por mes:</label>
                        <input type="text" id="fecha" class="form-control" style="margin-right:5px; width:190px" name="fecha" required />
                        <input type="submit" class="btn btn-primary" value="Filtrar" />
                        <input type="button" value="Descargar" class="btn btn-default" onclick="location.href='@Url.Action("GenerarExcel","Turnos")'" />
                    </div>
                </div>
            </form>
        </fieldset>
    </div>

    <div style="margin-bottom:10px">
        <h3 style="margin-top:5px; margin-bottom:5px">@ViewBag.mensaje</h3>
    </div>

    <table style="margin-top:5px" class="table table-hover table-bordered">
        <tr style="background-color:cadetblue">
            <th>Fecha</th>
            <th>Concepto </th>
            <th>Monto</th>
        </tr>

        @foreach (var item in Model)
            {
                if (item.Concepto == "Cuota" || item.Concepto == "Inscripcion")
                {
                <tr style="background-color:#D5F5E3">
                    <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                    <td> @item.Concepto</td>
                    <td>$@item.Monto</td>
                </tr>
            }

            else
            {
                if (item.Concepto == "Venta bazar")
                {
                    <tr style="background-color:cornflowerblue">
                        <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                        <td> @item.Concepto</td>
                        <td>$@item.Monto</td>
                    </tr>
                }
                else
                {
                    if (item.Concepto == "Compra Bazar")
                    {
                        <tr style="background-color:burlywood">
                            <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                            <td> @item.Concepto</td>
                            <td>$@item.Monto</td>
                        </tr>
                    }
                    else
                    {
                        <tr style="background-color:#ffaf4b">
                            <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                            <td> @item.Concepto</td>
                            <td>$@item.Monto</td>
                        </tr>
                    }
                }
            }
        }
    </table>
</div>
