﻿@model IEnumerable<Proyecto_1.ViewModels.ClasesConRecetas>

@{
    ViewBag.Title = "Crear clases";
}
<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
    @* <link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('input[name="fecha"]').daterangepicker(
                {
                    singleDatePicker: true,
                    showDropdowns: false,
                    autoUpdateInput: false,
                    locale: {
                        format: 'DD/MM/YYYY',
                        "separator": "-",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "Desde",
                        "toLabel": "Hasta",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sab"
                        ],
                        "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                        ],
                        "firstDay": 1
                    },
                    startDate: new Date,
                    endDate: new Date
                });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</head>


<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div id="mensajeExito" class="alert-success" role="alert" style="margin-bottom:5px">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div id="mensajeError" class="alert-danger" role="alert" style="margin-bottom:5px">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    @*<h4 style="margin-left:55px; margin-bottom:-5px; color:black; font-size:medium">Clases del turno <b style="color:forestgreen">@ViewBag.nombreTurno</b> del curso: <b style="color:forestgreen; text-transform:uppercase">@ViewBag.nombreCurso</b></h4>*@
    @*<hr style="margin-left:55px; max-width:560px; min-width:50px"/>*@

    <div class="inline" style="margin-bottom:-5px">
        <h4 style="margin-left:35px; margin-bottom:-20px; color:black">Clases del turno <b style="color:forestgreen">@ViewBag.nombreTurno</b> del curso: <b style="color:forestgreen; text-transform:uppercase">@ViewBag.nombreCurso</b></h4>
        <div class="form-group" style="float:right">
            <input type="button" id="btnPosponer" value="Posponer Turno" class="btn btn-primary" style="margin-bottom:-8px" onclick="location.href='@Url.Action("PosponerTurno","Turnos", new {idTurno = Model.FirstOrDefault().idTurno })'"/>
            <input type="button" id="btn1" value="Agregar clase" class="btn btn-primary" onclick="Ocultar()" style="margin-bottom:-8px"/>
        </div>
    </div>

    <form style="margin-top:20px; margin-bottom:-8px" id="form1" hidden="hidden" method="post" action="@Url.Action("AgregarClase","Turnos")">
        <fieldset style="max-width:400px; padding:0% 5% 5% 5% ">

            <div class="form-group">
                <label for="Fecha" class="control-label">Fecha</label>
                <div>
                    <input type="text" value="@ViewBag.fecha" placeholder="dd/mm/yyyy" name="fecha" class="form-control" id="fecha">
                </div>
            </div>

            <div class="form-group">
                <label for="Descripcion" class="control-label">Descripción</label>
                <div>
                    <textarea name="Descripcion" class="form-control" rows="5" id="Descripcion"></textarea>
                </div>
            </div>

            <div class="form-group">
                <select name="idReceta" id="Receta" class="form-control">
                    <option value="" disabled selected>Seleccionar receta 1</option>
                    @foreach (var item in (ViewBag.listaRecetas))
                    {
                        <option value="@item.idReceta">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <select name="idReceta2" id="Receta2" class="form-control">
                    <option value="0" selected>Seleccionar receta 2</option>
                    @foreach (var item in (ViewBag.listaRecetas))
                    {
                        <option value="@item.idReceta">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <select name="idReceta3" id="Receta3" class="form-control">
                    <option value="0" selected>Seleccionar receta 3</option>
                    @foreach (var item in (ViewBag.listaRecetas))
                    {
                        <option value="@item.idReceta">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <select name="idReceta4" id="Receta4" class="form-control">
                    <option value="0" selected>Seleccionar receta 4</option>
                    @foreach (var item in (ViewBag.listaRecetas))
                    {
                        <option value="@item.idReceta">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <select name="idReceta5" id="Receta5" class="form-control">
                    <option value="0" selected>Seleccionar receta 5</option>
                    @foreach (var item in (ViewBag.listaRecetas))
                    {
                        <option value="@item.idReceta">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <select name="idReceta6" id="Receta6" class="form-control">
                    <option value="0" selected>Seleccionar receta 6</option>
                    @foreach (var item in (ViewBag.listaRecetas))
                    {
                        <option value="@item.idReceta">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <select name="idReceta7" id="Receta7" class="form-control">
                    <option value="0" selected>Seleccionar receta 7</option>
                    @foreach (var item in (ViewBag.listaRecetas))
                    {
                        <option value="@item.idReceta">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <select name="idReceta8" id="Receta8" class="form-control">
                    <option value="0" selected>Seleccionar receta 8</option>
                    @foreach (var item in (ViewBag.listaRecetas))
                    {
                        <option value="@item.idReceta">@item.Nombre</option>
                    }
                </select>
            </div>

            <input type="submit" value="Agregar" class="btn btn-primary" style="margin-top:-2px" />
            <input type="button" value="Cancelar" class="btn btn-warning" style="margin-top:-2px" onclick="mostrar()" />
            @* <input type="button" value="Cancelar" class="btn btn-warning" style="margin-top:-2px" onclick="location.href='@Url.Action("CrearClases", "Turnos")'" />*@
        </fieldset>
    </form>

    <div id="ocultar">
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Fecha</th>
                <th>Horario</th>
                <th>Descripción</th>
                <th>Recetas</th>
                <th>Acciones</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FechaInicio.ToString("dd/MM/yyyy")</td>
                    <td>@item.FechaInicio.ToString("HH:mm") - @item.FechaFin.ToString("HH:mm")</td>
                    <td>@item.Descripcion</td>
                    <td>@item.receta</td>
                    <td>
                        <input type="button" value="Editar" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("EditClase", "Turnos", new {id = item.idClase })'" />
                        <input type="button" value="Borrar" class="btn btn-danger" id="btnBorrar" style="padding:5px 8px; font-size:small" onclick="return confirmar('@Url.Action("BorrarClase", "Turnos", new {id= item.idClase })')" />
                        <input type="button" value="Asistencias" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("AsistenciaClases", "Turnos", new { idclase = item.idClase, idturno= item.idTurno, idcurso= item.idCurso, fecha = item.FechaInicio.ToString("dd/MM/yyyy")})'" />
                        <input type="button" value="Imprimir" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("ImprimirClase", "Turnos", new { idclase = item.idClase})'" />
                      </td>
                </tr>
            }
        </table>

        <div class="inline" style="margin-top:35px">
            <h4 style="margin-top:30px; margin-bottom:-35px">Alumnos inscriptos</h4>
            <input type="button" id="btn2" value="Inscribir" class="btn btn-primary" style="float:right; margin-bottom:5px" onclick="location.href='@Url.Action("InscribirAlumnoPaso1", "Cursos", new { Nombre = ViewBag.nombreCurso, id = ViewBag.idCurso, idTurno = ViewBag.idTurno, control = ViewBag.control, nombreTurno = ViewBag.nombreTurno })'" />
        </div>

        @if (ViewBag.listaAlumnos != null)
        {
            <table style="margin-top:-10px" class="table table-striped table-hover table-bordered">
                <tr style="background-color:cadetblue">
                    <th>Alumno</th>
                    <th>Teléfono</th>
                    <th>E-Mail</th>
                    <th>Deuda</th>
                    <th>Acciones</th>
                </tr>
                @foreach (var item in ViewBag.listaAlumnos)
                {
                    <tr>
                        <td>@item.Apellido @item.Nombre</td>
                        <td>@item.Telefono</td>
                        <td>@item.Mail</td>
                        <td style="font-weight:bold; color:red">@item.Dni</td>
                        <td>
                            <input type="button" value="Pagos" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("VerDetalle", "Turnos", new { id = item.idAlumno, nombre = item.Nombre, apellido = item.Apellido })'" />
                            <input type="button" value="Desinscribir" class="btn btn-danger" style="padding:5px 10px; font-size:small" onclick="return desinscribir('@Url.Action("Desinscribir", "Turnos", new { id = item.idAlumno, })')" />
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <label>No hay alumnos inscriptos</label>
        }

        @if (ViewBag.control == 1)
        {
            <input type="button" class="btn btn-warning" value="Volver" onclick="location.href='@Url.Action("Turno", "Turnos", new { id = ViewBag.idCurso, Nombre = ViewBag.nombreCurso })'" />
        }
        else
        {
            <input type="button" class="btn btn-warning" value="Volver" onclick="location.href='@Url.Action("FullCalendar", "Turnos")'" />
        }

    </div>
</div>

<script>
    function confirmar(url) {
        swal({
            title: '¿Desea borrar esta clase?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Si, Borrar!',
            closeOnConfirm: true,
            cancelButtonText: 'Cancelar',
        },
function (isConfirm) {
    if (isConfirm) {
        location.href = url;
    }
    else { return false; }
});
    }
</script>

<script type="text/javascript">
    function Ocultar() {
        document.getElementById('mensajeError').style.display = 'none';
        document.getElementById('mensajeExito').style.display = 'none'
        document.getElementById('form1').style.display = 'inherit';
        document.getElementById('btn1').style.display = 'none';
        document.getElementById('btn2').style.display = 'none';
        document.getElementById('ocultar').style.display = 'none';
    }
</script>

<script type="text/javascript">
    function mostrar() {

        document.getElementById('btn1').style.display = '';
        document.getElementById('btn2').style.display = '';
        document.getElementById('form1').style.display = 'none';
        document.getElementById('ocultar').style.display = 'inherit';
    }
</script>

<script>
    function desinscribir(url) {
        swal({
            title: '¿Desea desinscribir este alumno del curso?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Si, Borrar!',
            closeOnConfirm: true,
            cancelButtonText: 'Cancelar',
        },
            function (isConfirm) {
                if (isConfirm) {
                    location.href = url;
                }
                else { return false; }
            });
    }
</script>