﻿@model Proyecto_1.Models.Turnos

@{
    ViewBag.Title = "Crear Turno";
}
<head>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
        @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
        <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
        <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

        <script type="text/javascript">
        $(function () {
            $('input[name="s_FechaInicio"]').daterangepicker(
                {
                    singleDatePicker: true,
                    showDropdowns: true,
                    autoUpdateInput: false,
                    locale: {
                        format: 'DD/MM/YYYY',
                        "separator": "-",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "Desde",
                        "toLabel": "Hasta",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sab"
                        ],
                        "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                        ],
                        "firstDay": 1
                    },
                    startDate: new Date,
                    endDate: new Date
                });

            $('input[name="s_FechaInicio"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });

            $('input[name="s_FechaInicio"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
        </script>
    </head>
<div class="container-fluid" style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert alert-warning" role="alert">
            <strong style="color:orangered; margin-left:100px">@ViewBag.mensajeError</strong>
        </div>
    }

    <form class="form-horizontal" method="post" action="@Url.Action("AgregarTurnoNuevo","Turnos")">
        <fieldset style="padding:0% 5% 5% 5% ">
            <legend style="margin-top:5px; margin-bottom:2px; margin-left:5px; color:black">Nuevo turno para el curso: <b style="color:forestgreen; text-transform:uppercase"> @ViewBag.nombre </b></legend>
            <label style="font-size:small; margin-top:10px">(*) Campos obligatorios</label>
            <div class="form-group" style="margin-top:0px">
                <label for="s_FechaInicio" class="control-label">Fecha Inicio (*)</label>
                <div>
                    <input type="text" name="s_FechaInicio" style="max-width:250px" class="form-control" id="s_FechaInicio" placeholder="dd/mm/yyyy" required value="">
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label">Hora Inicio (*)</label>
                <div>
                    <select class="form-control" style="max-width:250px" name="Inicio" id="select" required>
                        <option value="" disabled selected>Hora Inicio</option>
                        <option value="08:00">08:00</option>
                        <option value="08:30">08:30</option>
                        <option value="09:00">09:00</option>
                        <option value="09:30">09:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option value="15:00">15:00</option>
                        <option value="15:30">15:30</option>
                        <option value="16:00">16:00</option>
                        <option value="16:30">16:30</option>
                        <option value="17:00">17:00</option>
                        <option value="17:30">17:30</option>
                        <option value="18:00">18:00</option>
                        <option value="18:30">18:30</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                        <option value="21:00">21:00</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label">Hora Fin (*)</label>
                <div>
                    <select class="form-control" style="max-width:250px" name="Fin" id="select" required>
                        <option value="" disabled selected>Hora Fin</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option value="15:00">15:00</option>
                        <option value="15:30">15:30</option>
                        <option value="16:00">16:00</option>
                        <option value="16:30">16:30</option>
                        <option value="17:00">17:00</option>
                        <option value="17:30">17:30</option>
                        <option value="18:00">18:00</option>
                        <option value="18:30">18:30</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                        <option value="21:00">21:00</option>
                        <option value="21:30">21:30</option>
                        <option value="22:00">22:00</option>
                        <option value="22:30">22:30</option>
                        <option value="23:00">23:00</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="Alumnos" class="control-label">Cantidad de Alumnos</label>
                <div>
                    <input type="text" name="Alumnos" style="max-width:250px" class="form-control" id="Alumnos" value="10" required>
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label">Clases (*)</label>
                <div>
                    <select class="form-control" style="max-width:250px" name="cantidadClases" id="select" required>
                        <option value="" disabled selected>Cantidad de clases</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>
                        <option value=10>10</option>
                        <option value=11>11</option>
                        <option value=12>12</option>
                    </select>
                </div>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="autocompletado" value="true" type="checkbox" checked>
                    Autocompletar clases. <br />
                    Si esta opción esta activada, las clases se crearan por defecto con la descripción y recetas asociadas del último turno que se haya creado para este curso. <br />
                    <label style="color:darkred">Nota: El autocompletado solo tendrá efecto, si la cantidad de clases indicada coincide con la del último turno que se haya creado.</label>
                </label>
            </div>

            <div class="form-group">
                <div style="margin-top:8px">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("Turno2", "Turnos")'" />
                </div>
            </div>
        </fieldset>
    </form>
    </div>
