﻿@model Proyecto_1.Models.Clases

@{
    ViewBag.Title = "Editar Clase";
}
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('input[name="fecha"]').daterangepicker(
                {
                    singleDatePicker: true,
                    showDropdowns: true,
                    autoUpdateInput: false,
                    locale: {
                        format: 'DD/MM/YYYY',
                        "separator": "-",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "Desde",
                        "toLabel": "Hasta",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sab"
                        ],
                        "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                        ],
                        "firstDay": 1
                    },
                    startDate: new Date,
                    endDate: new Date
                });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</head>

<div class="container-fluid"  style="padding: 0% 5% 5% 5%">

    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert" style="margin-left:5px">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert" style="margin-left:5px">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }
  
    @using (Html.BeginForm("GuardarEditedClase", "Turnos"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="color:black"> Editar clase</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" hidden>
                @Html.LabelFor(model => model.idClase, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.idClase, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idClase, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.idCurso, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.idCurso, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.idCurso, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.idTurno, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.idTurno, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.idTurno, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 6px">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @style = "max-width:500px; margin-bottom:12px", @rows = "6" })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label col-md-2">Hora Inicio:</label>
                <div>
                    <select required name="Inicio" class="form-control" style="margin-bottom:1px; max-width:170px">
                        <option value="@ViewBag.inicio" selected hidden>@ViewBag.inicio</option>
                        <option value="08:00">08:00</option>
                        <option value="08:30">08:30</option>
                        <option value="09:00">09:00</option>
                        <option value="09:30">09:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option value="15:00">15:00</option>
                        <option value="15:30">15:30</option>
                        <option value="16:00">16:00</option>
                        <option value="16:30">16:30</option>
                        <option value="17:00">17:00</option>
                        <option value="17:30">17:30</option>
                        <option value="18:00">18:00</option>
                        <option value="18:30">18:30</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                        <option value="21:00">21:00</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="select" class="control-label col-md-2">Hora Fin:</label>
                <div>
                    <select required name="Fin" class="form-control" style="margin-bottom:1px; max-width:170px">
                        <option value="@ViewBag.fin" selected hidden>@ViewBag.fin</option>
                        <option value="09:30">09:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option value="15:00">15:00</option>
                        <option value="15:30">15:30</option>
                        <option value="16:00">16:00</option>
                        <option value="16:30">16:30</option>
                        <option value="17:00">17:00</option>
                        <option value="17:30">17:30</option>
                        <option value="18:00">18:00</option>
                        <option value="18:30">18:30</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                        <option value="21:00">21:00</option>
                        <option value="21:30">21:30</option>
                        <option value="22:00">22:00</option>
                        <option value="22:30">22:30</option>
                    </select>
                </div>
            </div>

            @*<div class="form-group" hidden>
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.TextBoxFor(model => model.fecha, new { @class = "form-control", @style="max-width:170px"})
                    @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label col-md-2">Seleccionar Receta 1:</label>
                <div>
                    <select required name="idReceta" class="form-control" id="Receta" style="margin-bottom:5px; max-width:200px">
                        <option value="0" selected>Seleccionar receta 1</option>
                        @foreach (var item in (ViewBag.listaRecetas))
                         {
                            <option value="@item.idReceta">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="select" class="control-label col-md-2">Seleccionar Receta 2:</label>
                <div>
                    <select name="idReceta2" class="form-control" id="Receta2" style="margin-bottom:5px; max-width:200px">
                        <option value="0" selected>Seleccionar receta 2</option>
                        @foreach (var item in (ViewBag.listaRecetas))
                          {
                            <option value="@item.idReceta">@item.Nombre</option>
                          }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label col-md-2">Seleccionar Receta 3:</label>
                <div>
                    <select name="idReceta3" class="form-control" id="Receta3" style="margin-bottom:5px; max-width:200px">
                        <option value="0" selected>Seleccionar receta 3</option>
                        @foreach (var item in (ViewBag.listaRecetas))
                        {
                            <option value="@item.idReceta">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label col-md-2">Seleccionar Receta 4:</label>
                <div>
                    <select name="idReceta4" class="form-control" id="Receta4" style="margin-bottom:5px; max-width:200px">
                        <option value="0" selected>Seleccionar receta 4</option>
                        @foreach (var item in (ViewBag.listaRecetas))
                          {
                            <option value="@item.idReceta">@item.Nombre</option>
                          }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label col-md-2">Seleccionar Receta 5:</label>
                <div>
                    <select name="idReceta5" class="form-control" id="Receta5" style="margin-bottom:5px; max-width:200px">
                        <option value="0" selected>Seleccionar receta 5</option>
                        @foreach (var item in (ViewBag.listaRecetas))
                        {
                            <option value="@item.idReceta">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label col-md-2">Seleccionar Receta 6:</label>
                <div>
                    <select name="idReceta6" class="form-control" id="Receta6" style="margin-bottom:5px; max-width:200px">
                        <option value="0" selected>Seleccionar receta 6</option>
                        @foreach (var item in (ViewBag.listaRecetas))
                        {
                            <option value="@item.idReceta">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label col-md-2">Seleccionar Receta 7:</label>
                <div>
                    <select name="idReceta7" class="form-control" id="Receta7" style="margin-bottom:5px; max-width:200px">
                        <option value="0" selected>Seleccionar receta 7</option>
                        @foreach (var item in (ViewBag.listaRecetas))
                        {
                            <option value="@item.idReceta">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="control-label col-md-2">Seleccionar Receta 8:</label>
                <div>
                    <select name="idReceta8" class="form-control" id="Receta8" style="margin-bottom:5px; max-width:200px">
                        <option value="0" selected>Seleccionar receta 8</option>
                        @foreach (var item in (ViewBag.listaRecetas))
                        {
                            <option value="@item.idReceta">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>

           
            @if (ViewBag.listaRecetasClase != null && (ViewBag.listaRecetasClase as IList<Proyecto_1.Models.Recetas>).Count > 0)
            {
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>Receta</th>
                        <th>Acciones</th>
                    </tr>

                    @foreach (var item in (ViewBag.listaRecetasClase))
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>
                                <input type="button" value="QUITAR" class="btn btn-danger" style="padding:5px 8px; font-size:small" onclick="location.href='@Url.Action("QuitarRecetaDeClase", "Turnos", new { idReceta = item.idReceta })'" />
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <h5 style="color:red; margin-left:20px; margin-top:-4px; margin-bottom:7px">no hay recetas agregadas en esta clase</h5>
            }

            <div class="form-group" style="margin-top:6px">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-warning" onclick="location.href='@Url.Action("CrearClases2", "Turnos", new {id = ViewBag.idTurno })'" />
                </div>
            </div>
        </div>
    }
</div>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<script>
    $("#fecha").datepicker({ dateFormat: "dd/mm/yy" }).mask("99/99/9999");
    $.validator.addMethod('date',
    function (value, element, params) {
        if (this.optional(element)) {
            return true;
        }
        var ok = true;
        try {
            $.datepicker.parseDate('dd/mm/yy', value);
        }
        catch (err) {
            ok = false;
        }
        return ok;
    });
</script>*@