﻿@model IEnumerable<Proyecto_1.ViewModels.EventosFullCalendar>

@{ 
    ViewBag.Title = "Calendario";
}

<head>
    <link href="~/Content/fullcalendar-3.5.0/fullcalendar.css" rel="stylesheet" />
    <script src="~/Content/fullcalendar-3.5.0/lib/jquery.min.js"></script>
    <script src="~/Content/fullcalendar-3.5.0/lib/moment.min.js"></script>
    <script src="~/Content/fullcalendar-3.5.0/fullcalendar.js"></script>
    <script src="~/Content/fullcalendar-3.5.0/locale/es.js"></script>
    <script>
        $(document).ready(function () {
            var eventos= @Html.Raw(Json.Encode(Model));

            $('#calendar').fullCalendar({
                defaultView:'agendaWeek',
                minTime:'08:00:00',
                maxTime:'22:30:00',
                allDaySlot:false,
                slotDuration:'01:00:00',
                height: 410,
                hiddenDays: [0],               //no muestra el dia domingo, lunes = 1...
                weekNumbers: false,
                showNonCurrentDates: false,    //esconde en la vista mes, los dias de otros meses.,
                themeSystem: 'standard',


                header:{
                    left: 'prev,next, today',
                    center:'title',
                    right:'month,agendaWeek,agendaDay'
                },

                events: eventos
            })

        });
    </script>

</head>

<div  class="container-fluid" style="padding: 0% 5% 5% 5%">
    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-danger" role="alert" style="margin-bottom:5px">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <div id='calendar'>
    </div>
</div>



