﻿<head>
        <style type="text/css">
            
  #imagen {
                width: 500px;
                height: 375px;
                position: relative;
            }

                #imagen > div {
                    position: relative;
                    bottom: 25px;
                    color: #fff;
                    background-color: #000;
                    padding: 2px 10px;
                    opacity: 0.5;
                    font-weight: bold;
                }

            h1 {
                position:absolute;
            }
            h2 {
                position:absolute;
            }

        </style>
    <link href="~/Content/estilos.css" rel="stylesheet" />
</head>



<body>
    <div class="image">
        <img src="~/Content/images/Sin título.jpg" />
        <h1 style="top:125px; font-family:Arial; font-size:100px; left:190px; font-weight:bold">Atelier del chef</h1>
        <h1 style="font-size:45px; text-align:center; font-family:'Times New Roman'; top:265px; left:300px;">Se otorga este certificado a:</h1>
        <div style="position:relative">
            <h2>@ViewBag.nombreCurso</h2>
        </div>

    </div>
</body>
