﻿@model Proyecto_1.ViewModels.CursosTurnos

@{ 
    ViewBag.Title = "Resumen";
}

<div id="pageintro" class="hoc clear">

    <div class="alert alert-success" role="alert">
        <strong style="color:green">@ViewBag.mensajeExito</strong>
    </div>
    <div class="alert alert-warning" role="alert">
        <strong style="color:orangered">@ViewBag.mensajeError</strong>
    </div>

   
   <h4 style="margin-top:12px; margin-bottom:3px">Resumen de turnos activos de los cursos</h4>

    <table class="responstable" >
        <tr>
            <th>Día</th>
            <th>Horario </th>
            <th>Alumnos inscriptos</th>
            <th>Acciones</th>
        </tr>

        @foreach (var item in Model.l_Cursos)
        {
            <tr style="background-color:darksalmon">
                <td colspan="4">@item.Nombre</td>
            </tr>
            foreach (var item2 in Model.l_Turnos)
            {
                if (item2.idCurso == item.idCurso)
                {

                    <tr>
                        <td>@item2.Dia</td>
                        <td> @item2.Inicio - @item2.Fin</td>
                        <td>@item2.Alumnos</td>
                        <td>
                            <input type="button" value="Detalle" class="btn" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("AlumnosInscriptos2", "Turnos", new {idTurno= item2.idTurno, idCurso = item2.idCurso, nombrecurso= item.Nombre})'" />
                        </td>
                    </tr> 
                }
            }
        }
    </table>
</div>



