﻿@model IEnumerable<Proyecto_1.Models.Pagos>

@{
    ViewBag.Title = "Ingresos";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <style>
        input[type=search] {
            width: 280px;
            height: 45px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
            background-color: white;
            background-image: url(../../Content/images/descargadas/brights_search.png);
            background-position: 7px 7px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            max-width: inherit;
        }
    </style>
</head>

<div id="pageintro" class="hoc clear">

    <div class="alert alert-success" role="alert">
        <strong style="color:green">@ViewBag.mensajeExito</strong>
    </div>
    <div class="alert alert-warning" role="alert">
        <strong style="color:orangered">@ViewBag.mensajeError</strong>
    </div>

    <div class="inline">
        <form action='@Url.Action("BuscarPago","Turnos")' style="margin-left:-2px">
            <select required name="Mes" id="fecha" style="margin-bottom:6px; max-width:250px">
                <option selected disabled>Seleccionar mes de búsqueda</option>
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
                <option value="13">Pagos de este año</option>
                <option value="14">Todos los gastos</option>
            </select>
        </form>

    </div>

    <h4 style="margin-top:15px; margin-bottom:-6px; margin-left:6px">Pagos</h4>

    <table class="responstable">
        <tr>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Monto</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fecha.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.Concepto</td>
                <td>@item.Monto</td>
            </tr>
        }
    </table>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
@*<script src="~/Scripts/jquery.maskedinput.min.js"></script>*@


