﻿@model IEnumerable<Proyecto_1.Models.Turnos>
@{
    ViewBag.Title = "Turnos";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">

    <script type="text/javascript">
        function checkfn() {
            if (document.getElementById('todos').checked) {
                window.location.href = '@Url.Action("Turno3", "Turnos")'
            } else {
                window.location.href = '@Url.Action("Turno2", "Turnos")'
            }
        }
    </script>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">
    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert" style="margin-bottom:5px">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-danger" role="alert" style="margin-bottom:5px">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }

    <h4 style="margin-top:5px; margin-bottom:0px; margin-left:5px; color:black">Listado de turnos activos del curso:  <b style="color:forestgreen; text-transform:uppercase"> @ViewBag.nombreCurso </b></h4>

    @if (ViewBag.control2 == 1)
    {
        <div class="form-check" style="margin-top:25px; margin-bottom:-40px; margin-left:5px">
            <label class="form-check-label">
                <input class="form-check-input" name="todos" id="todos" value="false" checked type="checkbox" onchange="checkfn()">
                Mostrar todo el historial de turnos<br />
            </label>
        </div>
    }
    else
    {
        <div class="form-check" style="margin-top:25px; margin-bottom:-40px; margin-left:5px">
            <label class="form-check-label">
                <input class="form-check-input" name="todos" id="todos" value="false" type="checkbox" onchange="checkfn()">
                Mostrar todo el historial de turnos<br />
            </label>
        </div>
    }

    <div class="inline" style="float: right; margin-bottom:10px; margin-top:-10px">
        <input type="button" value="Nuevo Turno" class="btn btn-primary" style="margin-top:15px" onclick="location.href='@Url.Action("CrearTurno", "Turnos")'" />
    </div>


    @if (Model.Any())
    {
        <table class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th>Dia</th>
                <th>Horario</th>
                <th>Fecha de inicio</th>
                <th>Acciones</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Dia</td>
                    <td>@item.Inicio - @item.Fin</td>
                    <td>@item.s_FechaInicio</td>
                    <td>
                        <input type="button" value="Editar" style="padding:5px 10px; font-size:small" class="btn btn-primary" onclick="location.href='@Url.Action("EditTurno", "Turnos", new { id = @item.idTurno })'" />
                        <input type="button" value="Borrar" style="padding:5px 10px; font-size:small" class="btn btn-danger" onclick="return confirmar('@Url.Action("BorrarTurno", "Turnos", new { id = @item.idTurno })')" />
                        <input type="button" value="Clases" style="padding:5px 10px; font-size:small" class="btn btn-primary" onclick="location.href='@Url.Action("CrearClases2", "Turnos", new { id = @item.idTurno })'" />
                        <input type="button" value="Alumnos" style="padding:5px 10px; font-size:small" class="btn btn-primary" onclick="location.href='@Url.Action("AlumnosInscriptos", "Turnos", new { id = @item.idTurno })'" />
                        <input type="button" value="Inscribir" class="btn btn-primary" style="padding:5px 10px; font-size:small" onclick="location.href='@Url.Action("InscribirAlumnoPaso1", "Cursos", new  { Nombre = ViewBag.nombreCurso, id = item.idCurso, idTurno = item.idTurno, control = 0,  nombreTurno = item.Dia + ' '+ item.Inicio + ' ' + 'a' + ' ' + item.Fin })'" />
                        @*<select required name="acc" id="@item.idTurno" onchange="Agregar(@item.idTurno)" style="margin-bottom:6px; max-width:200px">
                                <option selected disabled>Seleccionar accion</option>
                                <option id="editar @item.idTurno" value="Editar">Editar</option>
                                <option id="borrar @item.idTurno" value="Borrar">Borrar</option>
                                <option id="clases @item.idTurno" value="Clases">Clases</option>
                                <option id="alumnos @item.idTurno" value="Alumnos">Alumnos</option>
                            </select>*@
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="text-info">
            <br />
            <label style="color:orangered; font-size:medium; margin-left:7px; margin-top:45px">No hay turnos activos de este curso</label>
            @*  <h4 style="color:darkred; margin-left:10px; margin-top:20px"> No hay turnos activos de este curso  </h4>*@
        </div>
    }

    <input type="button" class="btn btn-warning" value="Volver" onclick="location.href='@Url.Action("Curso","Cursos")'" />

</div>

<script>
    function confirmar(url) {
        swal({
            title: '¿Desea borrar este turno?, al borrar el turno se borraran las clases dictadas, asistencias y los PAGOS realizados',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#c83a1c',
            confirmButtonText: 'Si, Borrar!',
            closeOnConfirm: true,
            cancelButtonText: 'Cancelar',
        },
function (isConfirm) {
    if (isConfirm) {
        location.href = url;
    }
    else { return false; }
});
    }
</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>


<script type="text/javascript">
    function Agregar(id) {
        var option = document.getElementById(id).value;

        if (option == 'Editar') {
            location.href = '@Url.Action("EditTurno", "Turnos", new { id = "param-id" })'.replace("param-id", id);
        }

        if (option == 'Clases') {
            location.href = '@Url.Action("CrearClases2", "Turnos", new { id = "param-id" })'.replace("param-id", id);
        }

        if (option == 'Alumnos') {
            location.href = '@Url.Action("AlumnosInscriptos", "Turnos", new { id = "param-id" })'.replace("param-id", id);
        }

        if (option == 'Borrar') {
            return confirmar('@Url.Action("BorrarTurno", "Turnos", new { id = "param-id" })'.replace("param-id", id));
        }

    }
</script>
