﻿@model IEnumerable<Proyecto_1.Models.Pagos>

@{
    ViewBag.Title = "Detalle de pago";
}

<head>
    <script src="~/Content/sweetalert-master/dist/sweetalert.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker-master/moment.min.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Content/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            $('input[name="fecha"]').daterangepicker(
                {
                    singleDatePicker: true,
                    showDropdowns: true,
                    //autoUpdateInput: false,
                    locale: {
                        format: 'DD/MM/YYYY',
                        "separator": "-",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "Desde",
                        "toLabel": "Hasta",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sab"
                        ],
                        "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                        ],
                        "firstDay": 1
                    },
                    startDate: new Date,
                    endDate: new Date
                });

            $('input[name="fecha"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });

            $('input[name="fecha"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</head>

<div class="container-fluid" style="padding: 0% 5% 5% 5%">
    @if (ViewBag.mensajeExito != null)
    {
        <div class="alert-success" role="alert" style="margin-bottom:5px">
            <strong style="color:green">@ViewBag.mensajeExito</strong>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        <div class="alert-warning" role="alert">
            <strong style="color:orangered">@ViewBag.mensajeError</strong>
        </div>
    }
    
        <h4 style="margin-top: 15px; margin-bottom: 15px; color: black; font-size:medium">Alumno:
            <a id="alumno" name="@ViewBag.alumno" style="color:forestgreen; text-transform:uppercase"> @ViewBag.alumno </a>
        </h4>

    <form method="post" style="margin-left:1px; margin-bottom:10px" action="@Url.Action("PagoAlumno","Turnos", new {nombre= ViewBag.nombre, apellido= ViewBag.apellido, idalumno=ViewBag.idalumno })">

        <fieldset style="max-width:400px;">
            <div class="form-group">
                <label for="Monto" class="control-label">Monto (*)</label>
                <div>
                    <input autofocus type="text" style="max-width:200px" name="monto" class="form-control" id="Nombre" required pattern="[0-9]{1,5}"  title="Solo numeros sin $">
                </div>
            </div>

            <div class="form-group">
                <label for="fecha" class="control-label">Fecha (*)</label>
                <div>
                    <input type="text" style="max-width:200px" name="fecha" class="form-control" id="fecha" />
                </div>
            </div>


            <div class="form-group">
                <label for="Usuario" class="control-label">¿Quién recibe el pago? (*)</label>
                <div>
                    <input required type="text" name="usuario" style="max-width:200px" class="form-control" id="Usuario">
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Pagar" />
            <input type="button" class="btn btn-warning" value="Volver" onclick="location.href='@Url.Action("CrearClases2","Turnos",  new { id= ViewBag.idTurno })'" />
        </fieldset>
    </form>
    <div style="margin-top:10px">
        <h4 style="margin-bottom:10px; margin-left:6px; color:black">Detalles de pagos</h4>

        <table class="table table-striped table-hover table-bordered">
            <tr style="background-color:cadetblue">
                <th style="background-color:lightgray">Concepto</th>
                <th style="background-color:lightgray">Fecha de pago</th>
                <th style="background-color:lightgray">Quien recibio el pago</th>
                <th style="background-color:lightgray">Monto</th>
                <th style="background-color:lightgray">Motivo de Monto ingresado $0</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Concepto</td>
                    <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@item.Usuario</td>
                    <td>$@item.Monto</td>
                    <td>@item.Control</td>
                </tr>
            }
            <tr>
                <td style="font-weight:bold" colspan="3">Total pagado</td>
                <td style="font-weight:bold">$@ViewBag.sumaPago</td>
            </tr>

            <tr>
                <td style="font-weight:bold; color:red" colspan="3">Adeuda</td>
                <td style="font-weight:bold; color:red">$@ViewBag.deuda</td>
            </tr>
        </table>
    </div>
    
</div>

<script type="text/javascript">
    $("#alumno").click(function(){
        var x = document.getElementById('alumno');
        alert(x.name);
    });
</script>
